[2016-06-22 07:04] dkosmidis opened #1 "Test Card"
Στοιχεία κάρτας:
Visa
όνομα: test
4917910020184168
02/20
cvv : 481

Ημ/νία:
22/06/2016

Tester:
Βαγγέλης Γογγολίδης

Μήνυμα:
Η αγορά δεν ολοκληρώθηκε! παρακαλώ, επιβεβαιώστε ότι τα στοιχεία της κάρτας είναι σωστά.

[2016-06-22 07:38] vgogolidis opened #2 "Η κάρτα μου -> Στοιχεία Κάρτας και Οφειλές"
Όταν πατήσω στο "Η κάρτα μου" και στα στοιχεία κάρτας και στο οφειλές εμφανίζει "η σελίδα θα είναι σύντομα διαθέσιμη".

Θα έπρεπε στο 1ο να γράφει κάποια παραπάνω στοιχεία της κάρτας και στο 2ο ένα άλλο μήνυμα πχ "δεν έχετε πραγματοποιήσει πληρωμές".

[2016-06-22 12:11] Mariella11 commented on #2
1. "κάποια παραπάνω στοιχεία της κάρτας" - ποια να είναι αυτά?
2. οι ¨"οφειλές" είναι ένα feature που δεν έχουμε υλοποιήσει ακόμη. θα πραγματοποιηθεί σε δεύτερη version της εφαρμογής. Ουσιαστικά θα μπορούν οι χρήστες να βλέπουν τις οφειλές τους προς το Δήμο.

*Αν εννοείς στην κάρτα μου (όχι στις οφειλές) να σου εμφανίζει το μήνυμα "δεν έχετε πραγματοποιήσει πληρωμές" οκ (επιβεβαιώστε ότι κατάλαβα

[2016-06-22 12:19] Mariella11 commented on #1
Δεν παίζουν πλέον οι test κάρτες! einai production η εφαρμογή!
Δοκιμάστε πάλι με κανονική κάρτα και ενημερώστε με

[2016-06-22 14:05] dkosmidis opened #3 "warp.ly pay terms"
Εγκατάσταση Android

Ημ/νία:
22/06/2016

Tester:
Δημήτρης Κοσμίδης

Μήνυμα:
Οι όροι χρήσης του warp.ly pay είναι ατελείς (lorem...)

![screenshot_2016-06-22-16-53-54](https://cloud.githubusercontent.com/assets/8148716/16269439/e58f726c-389a-11e6-81c3-e108ce3ce6e7.png)

[2016-06-22 14:18] Mariella11 commented on #3
ναι επειδή κοιτούσαμε να προσαρμόσουμε και τους δικούς μας όρους.
Δεν είναι τίποτα αυτό, αλλάζει αμέσως

[2016-06-27 09:39] dkosmidis opened #4 "geodata"
Αυτό το αρχείο χρησιμοποιείται σήμερα, από τη Δημοτική Αστυνομία / Ελεγχόμενη Στάθμευση και υποστηρίζεται από τη NESSOS.

Η warp.ly θα πρέπει να κάνει ένα συνολικό revise / check και να προτείνει τις αναθεωρημένες περιγραφές / τιμές των πεδίων, για τα σημεία ελεγχόμενης στάθμευσης (parking lots), προκειμένου στη συνέχεια αυτό να εγκριθεί (get approved) από τη Δημοτική Αστυνομία / Ελεγχόμενη Στάθμε

[2016-06-27 09:50] dkosmidis commented on #1
O.K.

[2016-06-27 09:50] #1 closed, assigned to Mariella11

[2016-06-30 07:29] dkosmidis opened #5 "Πρόβλημα στην "Ανάκτηση Κωδικού" & το login "Σύνδεση Απέτυχε""
Δημήτρης Κοσμίδης, 29/06/2016

Η εφαρμογή χάνει τη σύνδεση του χρήστη και στη συνέχεια υπάρχει πρόβλημα σύνδεσης.
Στη συνέχεια όταν ζητάς "password reset", από τον mail client (gmail) "Νέος κωδικός" σε πηγαίνει σε λευκή οθόνη!

![_](https://cloud.githubusercontent.com/assets/8148716/16480149/2ca888ce-3ead-11e6-8be1-3f840b519f43.png)

[2016-06-30 11:08] dkosmidis commented on #5
... διορθώθηκε.

[2016-06-30 11:10] #5 closed, assigned to dkosmidis, Mariella11

[2016-06-30 12:57] dkosmidis opened #6 "Camera & Photo Access"
![screenshot_2016-06-22-16-51-46](https://cloud.githubusercontent.com/assets/8148716/16488837/2dc71ac6-3edb-11e6-8689-814cab08fb36.png)
![screenshot_2016-06-22-16-52-08](https://cloud.githubusercontent.com/assets/8148716/16488838/2dc72e80-3edb-11e6-9ceb-e6fe65657771.png)

[2016-06-30 12:57] dkosmidis commented on #6
FROM: Maria Patsi, 30/06/2016 https://mail.google.com/mail/u/0/#label/Citizen+Wallet%2Fparking/155a1533d93bc6f4

Σε συνέχεια της επικοινωνίας μας σχετικά με την πρόσβαση στην κάμερα, θα ήθελα να επιβεβαιώσω ότι το ζητάει η εφαρμογή για να μπορεί να μπορεί κανείς να
1. βάζει φωτο στο προφίλ του (personalization)
2. σκανάρει την κάρτα του

Επίσης, θα ήθελα να τονίσω ότι ζητάει η εφαρμογή από την αρχ

[2016-06-30 12:59] #6 closed, assigned to Mariella11

[2016-07-01 08:17] mvitzilaiou opened #7 "Μήνυμα κατά την προσπάθεια ενεργοποίησης στάθμευσης εκτός ζώνης ελεγχόμενης."
![screenshot_2016-06-29-13-38-23](https://cloud.githubusercontent.com/assets/20129030/16515809/d3aeb54c-3f7c-11e6-929a-cb85f8621411.png)

Δοκίμασα να παρκάρω σε περιοχή που δεν υπάρχει ελεγχόμενη στάθμευση και μου έβγαλε αυτό το μήνυμα. Καλύτερα να διατυπωθεί ως εξής : "Δεν βρίσκεσαι σε θέση ελεγχόμενης στάθμευσης"

[2016-07-01 08:25] mvitzilaiou opened #8 "Αποτυχία εγγραφής"
![screenshot_2016-06-29-12-35-08](https://cloud.githubusercontent.com/assets/20129030/16515904/6e87255e-3f7d-11e6-94f5-3b1daf3e481a.png)

Μου έβγαλε αυτό το μήνυμα όταν προσπάθησα να κάνω εγγραφή (m.vitzilaiou@daem.gr) καταχωρώντας κάρτα prepaid Alpha Bank mastercard. Αν δε δέχεται το σύστημα κάρτα prepaid θα έπρεπε να βγάζει άλλο μήνυμα (πχ Μη αποδεκτή κάρτα).

Eπειδή όμως είχα κάνει ξανά εγγραφή

[2016-07-01 13:05] Mariella11 commented on #7
οκ θα σε ενημερώσω όταν γίνει η αλλαγή
απλα για να μην αλλάζουμε τα Pop ups ένα ένα, μάζεψε όλες αυτές τις αλλαγές και τις περνάμε όλες μαζί

[2016-07-01 14:32] dkosmidis opened #9 "External Testing (iOS)"
Please add these people as external iOS testers Warply (via Crashlytics)

huity@metaxa.com.gr, Huity Konstantinidou
dk@farmersrepublic.gr, Dimitris Koutsolioutsos
tkyriakopoulos@machas-partners.com, Tom Kyriakopoulos
alexandros.nousias@gmail.com, Alexandros Nousias
t.tzekas@daem.gr, Nassi Tzekas
k.verras@daem.gr, Konstantinos Verras
xtheodoros@gmail.com, Theodore Xanthopoulos
yovanof@gmail.com, Gr

[2016-07-02 05:50] dkosmidis opened #10 "Citizen Wallet Charging"
Πέραν της αγοράς χρόνου "νόμιμης" στάθμευσης 30', 60', 90', 120', 150' 180', που αντιστοιχεί σε "εισιτήρια / κουπόνια" που εμφανίζονται προς αγορά, είχε ζητηθεί η δυνατότητα φόρτισης του Citizen Wallet με ποσά των 10€, 20€, 50€. Θα ήθελα να συζητήσω μαζί σας τη Δευτέρα 4/7, αν είναι δυνατόν απευθείας με τον κ. Δοξαρά, την υλοποίησή.

[2016-07-04 07:59] dkosmidis commented on #7
Καλημέρα, όποια αλλαγή προτείνεται δε σημαίνει και αυτόματη υλοποίησή της. Προτείνω να καταγράφεται ως "Πριν" & "Μετά" και να παίρνει κάποιου είδους έγκριση (review / approval or rejection).

[2016-07-04 08:00] dkosmidis opened #11 "Android Alert"
![alert_20160630](https://cloud.githubusercontent.com/assets/8148716/16554294/821d8850-41d6-11e6-987d-de35b89b5a3e.png)

[2016-07-04 08:06] mvitzilaiou opened #12 "Διαθέσιμο υπόλοιπο κάρτας"
Σήμερα αποφάσισα ότι θέλω να αλλάξω κάρτα χρέωσης στο citizen wallet.
Είχα αγοράσει χρόνο στάθμευσης 1 ευρώ το οποίο όταν διέγραψα την κάρτα εξαφανίστηκε (Γιατί δεν παραμένει ως διαθέσιμο υπόλοιπο στο wallet από τη στιγμή που το έχω αγοράσει?)
Ξαναπέρασα μετά την ίδια κάρτα αλλά το 1 ευρώ δεν εμφανίστηκε ξανά ως διαθέσιμο υπόλοιπο.
Επίσης δεν μου εμφανίζει πια και το ιστορικό συναλλαγών του Ιουνίο

[2016-07-04 08:11] mvitzilaiou opened #13 "Εμφάνιση άγνωστης κάρτας μετά το scan"
![screenshot_2016-07-04-10-03-34](https://cloud.githubusercontent.com/assets/20129030/16554438/9055808e-41d7-11e6-8e98-d8603ed10b0c.png)
![screenshot_2016-07-04-10-03-58](https://cloud.githubusercontent.com/assets/20129030/16554437/9052c092-41d7-11e6-9be3-255014f24e8b.png)

Το scan δε λειτουργεί σωστά, μου είναι σχεδόν αδύνατο να σκανάρω τις κάρτες. Τελικά, όταν σκάναρα μου εμφάνισε άλλη άγνωστη κ

[2016-07-04 09:48] dkosmidis commented on #12
Κατά το integration test (Αγ. Ασωμάτων) Την Παρασκευή 01/07, αντιμετώπισα αντίστοιχο θέμα μα την κάρτα μου. Είναι πιθανόν, κάνοντας scans σε κάρτες το προηγούμενο διάστημα να έχει δημιουργηθεί πρόβλημα. Σε κάθε περίπτωση, να κάνουμε trace το σύστημα (έχουμε διαθέσιμα τα ονόματα των κατόχων και το χρόνο που έχει συμβεί αυτό). Μπορούμε;

[2016-07-04 10:40] dkosmidis opened #14 "Data Store Mechanism (warply.pay)"
Θα χρειαστεί η περιγραφή του warply.pay, ιδίως όσον αφορά την αποθήκευση και την περαιτέρω επεξεργασία δεδομένων. Παρουσιάζονται τα στοιχεία εγγραφής χρήστη.
Android implementation:
- https://developer.android.com/guide/topics/data/data-storage.html#netw
- https://material.google.com/

![regdata-screenshot_2016-06-29-12-42-49](https://cloud.githubusercontent.com/assets/8148716/16558204/b1a40fa2-41

[2016-07-04 14:58] dkosmidis opened #15 "Card Problem"
![screenshot_2016-07-01-09-36-38](https://cloud.githubusercontent.com/assets/8148716/16564563/d533bce6-4210-11e6-9b2a-af3448401c2e.png)
![screenshot_2016-07-01-09-37-01](https://cloud.githubusercontent.com/assets/8148716/16564565/d5357310-4210-11e6-9c60-26c0ea8333b4.png)
![screenshot_2016-07-01-09-37-13](https://cloud.githubusercontent.com/assets/8148716/16564564/d535593e-4210-11e6-8c89-d7306b1668

[2016-07-04 15:00] dkosmidis commented on #15
Παρακαλώ να διορθωθεί και το "εισάγεται" σε "εισάγετε"

[2016-07-04 15:06] dkosmidis opened #16 "Πρόβλημα σε Ζώνη Ελεγχόμενης Στάθμευσης, 5-digit (23283)"
![screenshot_2016-07-01-09-57-09](https://cloud.githubusercontent.com/assets/8148716/16564739/d783c210-4211-11e6-88dd-cd54f2167bf5.png)
![screenshot_2016-07-01-09-58-47](https://cloud.githubusercontent.com/assets/8148716/16564735/d77ee5ba-4211-11e6-9215-c82afdc5e3aa.png)
![screenshot_2016-07-01-09-58-57](https://cloud.githubusercontent.com/assets/8148716/16564736/d77f7804-4211-11e6-8f2c-caa26794cf

[2016-07-05 07:27] vgogolidis commented on #2
Καλημέρα, έκανα ένα 2ο testing σήμερα και βλέπω πως στο συγκεκριμένο σημείο παραμένουν τα σχετικά μηνύματα. Οκ για τις οφειλές αν είναι σε επόμενη έκδοση, όμως στα στοιχεία κάρτας θεωρώ πως πρέπει να βγάζει κάποια παραπάνω στοιχεία ή αν αυτό δεν είναι εφικτό να εμφανίζει ένα διαφορετικό μήνυμα ώστε ο χρήστης να μην "αναμένει" να δει κάτι παραπάνω. Αν δε βλέπει κάτι του δημιουργείται ανασφάλεια για

[2016-07-05 07:30] vgogolidis opened #17 "Ομοιομορφία σε ποσά"
Καλησπέρα, παρατήρησα σήμερα πως άλλες φορές τα ποσά αναφέρονται με 1.0, άλλες με 1.00
![screenshot_2016-07-05-10-11-50](https://cloud.githubusercontent.com/assets/19796926/16577031/70955480-429b-11e6-85f7-6adbc6569147.png)
![screenshot_2016-07-05-10-15-20](https://cloud.githubusercontent.com/assets/19796926/16577029/709241aa-429b-11e6-962e-093787740b5b.png)
![screenshot_2016-07-05-10-17-07](https

[2016-07-05 07:32] vgogolidis opened #18 "Λεκτικό Λεπτών της Ώρας"
Αντίστοιχα υπάρχει αναντιστοιχεία στο λεπτά και min.

Παρακαλώ να αλλαχτούν όλα σε λεπτά και να φύγουν τα min.

![screenshot_2016-07-05-10-15-20 1](https://cloud.githubusercontent.com/assets/19796926/16577070/acb602c0-429b-11e6-9266-cf44c3aeeb42.png)
![screenshot_2016-07-05-10-17-07 1](https://cloud.githubusercontent.com/assets/19796926/16577068/acb2cf88-429b-11e6-8831-3295a1fe1875.png)
![screensh

[2016-07-05 07:36] vgogolidis opened #19 "Απόδειξη σε μαιλ"
Καλησπέρα,

στο μαιλ που στέλνετε μετά από επιτυχή πληρωμή, εφόσον είναι απλή απόδειξη νομίζω πως πρέπει να προστεθεί το "το παρόν δεν επέχει θέση φορολογικού παραστατικού".

Δεν είμαι οικονομολόγος, απλά επειδή το έχω δει σε σχετικές αντίστοιχες εφαρμογές παρακαλώ ελέγξτε το με το λογιστήριο / οικονομικές υπηρεσίες.

![screenshot_2016-07-05-10-19-11](https://cloud.githubusercontent.com/assets/197

[2016-07-06 14:53] Mariella11 commented on #18
τα προσαρμόζουμε

[2016-07-06 14:53] Mariella11 commented on #17
τα προσαρμόζουμε

[2016-07-06 14:58] Mariella11 commented on #15
το λεκτικό το διορθώσαμε ήδη!

[2016-07-06 15:06] Mariella11 commented on #12
Σήμερα αποφάσισα ότι θέλω να αλλάξω κάρτα χρέωσης στο citizen wallet.
Είχα αγοράσει χρόνο στάθμευσης 1 ευρώ το οποίο όταν διέγραψα την κάρτα εξαφανίστηκε (Γιατί δεν παραμένει ως διαθέσιμο υπόλοιπο στο wallet από τη στιγμή που το έχω αγοράσει?)
Ξαναπέρασα μετά την ίδια κάρτα αλλά το 1 ευρώ δεν εμφανίστηκε ξανά ως διαθέσιμο υπόλοιπο.

απάντηση: το ελέγξαμε και φαίνεται ότι περάσατε αυτή την κάρτα με

[2016-07-06 15:12] Mariella11 commented on #7
περιμένω να με ενημερώσετε αν θα προχωρήσω με την παραπάνω αλλαγή

[2016-07-06 15:24] dkosmidis opened #20 "Legal (Terms & Policies)"
Το ενιαίο νομικό κείμενο, με τις τελευταίες παρεμβάσεις και μορφοποιημένο.

[Όροι χρήσης της Εφαρμογής CITIZEN  WALLET ver. 3.1 20160706.docx](https://github.com/DAEM-IT/CITIZEN-WALLET/files/350208/CITIZEN.WALLET.ver.3.1.20160706.docx)

[2016-07-06 16:52] dkosmidis opened #21 "app ver. display?"
do we indicate it someplace? (i.e. start screen?)

[2016-07-07 06:54] Mariella11 commented on #20
ananewthike!

[2016-07-07 07:08] dkosmidis commented on #15
Καλημέρα, υπάρχει σοβαρότατο πρόβλημα με τις κάρτες στο Android, τουλάχιστον στη έκδοση που δοκιμάζω εγώ.
Σε σημερινά σενάρια στο δρόμο, το photo capturing, εισάγει κάρτα με διαφορετικό λήγοντα 4-ψήφιο... ο οποίος μάλιστα δεν είναι ορατός (τουλάχιστον με την 5" συσκευή που test-άρω)! Αυτό δεν δίνει ξεκάθαρο preview στον χρήστη / οδηγό για την κάρτα που τελικά έχει εισάγει, παρά μόνο κατά την αγορά

[2016-07-07 07:31] dkosmidis opened #22 "version info."
Μήπως θα ήταν σκόπιμο η εφαρμογή να εμφανίζει κάπου την τρέχουσα έκδοση που χρησιμοποιείται;

[2016-07-07 11:12] Mariella11 commented on #16
να το δει και η nessos

[2016-07-07 11:15] Mariella11 commented on #19
δεν το θεωρούμε απαραίτητο

[2016-07-07 11:17] Mariella11 commented on #14
περιμένουμε ακόμα τις ερωτήσεις σου
διαφορετικά θεωρούμε ότι το θέμα έχει κλείσει

[2016-07-07 11:20] Mariella11 commented on #4
σημερα πήραμε την λίστα οπότε αναμένουμε τεστ με την δημοτική αστυνομία

[2016-07-07 11:26] Mariella11 commented on #8
Eπειδή όμως είχα κάνει ξανά εγγραφή ως m.vitzilaiou@daem.gr με την δοκιμαστική σας κάρτα, αν αυτός ήταν ο λόγος της αποτυχίας εγγραφής ίσως θα έπρεπε να βγάζει ένα μήνυμα ότι ήδη έχω λογαριασμό. // όχι δεν ήταν αυτός ο λόγος
έλαβα email επιβεβαίωσης εγγραφής σε κάθε αποτυχημένη προσπάθεια.// ελαβες μαιλ επιβεβαίωσης επειδή η εγγραφή σου ολοκληρώθηκε αλλά δεν πέρασε η κάρτα.
Σε αυτήν την περίπτωση

[2016-07-07 11:35] Mariella11 commented on #15
όπως συνεννοήθηκαν ο κ.Δοξαράς με τον κ.Βέρρα αυτό θα μπει σε δεύτερη φάση

[2016-07-07 11:36] Mariella11 commented on #13
όπως συνεννοήθηκαν ο κ.Δοξαράς με τον κ.Βέρρα αυτό θα μπει σε δεύτερη φάση

[2016-07-07 12:18] Mariella11 commented on #11
το φτιάξαμε

[2016-07-07 12:34] dkosmidis commented on #15
Agree. Thank you.

[2016-07-07 12:34] #15 closed, assigned to Mariella11

[2016-07-07 12:40] #13 closed, assigned to nobody

[2016-07-07 13:17] #20 closed, assigned to Mariella11

[2016-07-07 13:19] dkosmidis commented on #14
Όχι, δεν έχει κλείσει αλλά δεν χρειάζεται προφανώς δική σας συνεισφορά σ' αυτό το στάδιο αλλά τη δική μου φροντίδα να συγκεντρωθούν ερωτήματα και  να διατυπωθούν κατάλληλα προς τα εσάς.
Ευχαριστώ πάντως για την ενημέρωση μέχρις αυτού του σημείου.

[2016-07-08 07:55] verrask opened #23 "Αγορά Χρόνου - Πρόβλημα με Χρήση Κάρτας"
Με την ήδη εγκατεστημένη version για iOS ζητώ να κάνω αγορά χρόνου με ήδη δηλωμένη πραγματική Mastercard. Βγάζει μήνυμα: Η αγορά δεν ολοκληρώθηκε..... (bug1)
Τα στοιχεία κάρτας ωστόσο είναι σωστά.
Αποσυνδέομαι, επανασυνδέομαι, τα ίδια.
Απεγκαθιστώ την εφαρμογή, διότι δεν φαίνεται πουθενά ποια version έχω (bug2)
Την εγκαθιστώ ξανά και κάνω εκ νέου registration
Μπαίνω στην εφαρμογή και έχει κρατημέν

[2016-07-08 08:51] Mariella11 commented on #23
με ποιο mail?

[2016-07-08 09:00] Mariella11 commented on #23
1. Σε dev app παίζουν μόνο οι test κάρτες, σε production παίζουν οι κανονικές!
   2&3. Ακόμα κι αν σβήσετε την εφαρμογή, το account υπάρχει, οπότε πολύ σωστά έχει τα στοιχεία της κάρτας κρατημένα
2. ενώ δεν είναι ΑΜΕΧ?
3. Είναι ευδιάκριτα τα νούμερα της κάρτας? υπάρχει μεγάλη αντίθεση στα νούμερα και στο background?
4. απαντήθηκε στο 1.

[2016-07-08 09:06] verrask commented on #23
verras.k@gmail.com
Η ΑΜΕΧ να φύγει ως επιλογή
Η φωτογραφία της Masercard που καταχώρισα - οπως είπα - δούλεψε σωστά
Αγορα χρόνου ΔΕΝ κάνει!

[2016-07-08 12:01] dkosmidis opened #24 "Android build (1.0.1)"
https://play.google.com/about/privacy-security/malicious-behavior/

![cw_android_1 0 1_beta-5](https://cloud.githubusercontent.com/assets/8148716/16686709/b0e1405c-451c-11e6-8fcd-ac74834adc15.png)

[2016-07-08 12:38] warply commented on #24
@dkosmidis  θα ήθελα και τις extra οδηγίες που έχυον σταλεί στο  mail. (cityofathens.gr@gmail.com)

[2016-07-08 13:13] verrask commented on #23
δoύλεψα τη version 1.0.7 iOS

[2016-07-08 13:58] dkosmidis commented on #24
![cw_android_1 0 1_beta-6](https://cloud.githubusercontent.com/assets/8148716/16689828/76fed33e-452d-11e6-9d16-1fdb433c338a.png)
Θα μπορούσατε να μου επιβεβαιώσετε ότι δεν έχετε βάλει εσείς αυτό το mail address (.apk / app) και είναι από τον λογαριασμό της ΔΑΕΜ στο google play;

[2016-07-08 14:14] warply commented on #24
Το mail  δεν υπάρχει στο app. Έχει να κάνει με το  account. Τελικά δεν το χρειαστούμε όμως βρήκαμε κάτι και σε λίγο θα στείλει η @Mariella11  νέο build/apk

[2016-07-08 16:19] Mariella11 commented on #24
anevike!

[2016-07-08 16:21] Mariella11 commented on #23
το φτιάξαμε το θέμα με την ΑΜΕΧ προσθέσαμε λεκτικό και δεν τον αφήνει τον χρήστη να κάνει εγγραφή με αυτήν την κάρτα
αγορά δεν κάνει καθώς δεν είχατε την σωστή εφαρμογή εγκατεστημένη

[2016-07-11 07:09] vgogolidis opened #25 "Λεκτικό "Η κάρτα μου""
Καλημέρα,
Είναι συναλλαγές και όχι συνναλαγές.

![screenshot_2016-07-11-10-06-41](https://cloud.githubusercontent.com/assets/19796926/16722460/6e0ef0dc-474f-11e6-8ac9-094159708cf7.png)

[2016-07-11 12:01] mvitzilaiou commented on #12
Έλεγξα, δεν υπάρχει στο πρώτο account (m.vitzilaiou@daem.gr).

[2016-07-11 12:32] Mariella11 commented on #25
θα το διορθώσουμε άμεσα

[2016-07-11 12:35] vgogolidis opened #26 "Μήκος χαρακτήρων σε κωδικό"
Καλησπέρα,

παρατήρησα πως στο κωδικό έχετε βάλει κάποιο όριο χαρακτήρων (μάλλον 8).

Αν ο χρήστης βάλει κωδικό μικρότερο από αυτό το μήκος, δεν τον αφήνει να εγγραφεί και δεν του εμφανίζει ενημερωτικό μήνυμα (πχ βάλτε κωδικό μεγαλύτερο απο 8 χαρακτήρες η όποιο pattern ακολουθείτε). Εμφανίζει ένα κόκκινο γύρω από το πεδίο αλλά πραγματικά και εγω που είμαι πιο "σχετικος "μου πήρε αρκετή ώρα να το κ

[2016-07-11 12:48] ppetrogian opened #27 "Δοκιμες 11-07-2016"
Σας καταγράφω τις GPS συντεταγμενες που λάβαμε από την εφαρμογή στο κινητο καθώς και το πενταψηφιο που επιλέκτηκε για κάθε σενάριο. Η γεωναφορά έγινε με την υπηρεσία http://www.gps-coordinates.net/gps-coordinates-converter

Σενάριο 1 : 21711 Σωκράτους  gps (lon, lat): (23.726450,37.982860) = Sokratous 45, Athina 105 52
Σενάριο 2 : 21655 ΑΙΌΛΟΥ   gps (lon, lat): (23.728870,37.981710) = Aiolou 86, A

[2016-07-11 13:59] dkosmidis opened #28 "App stall / Not Responding during integration tests (11/07/2016, Android 4.4.2 -Lenovo A536)"
during active parking time, different actual location (Georgiou Stavrou)

![screenshot_2016-07-11-12-38-31](https://cloud.githubusercontent.com/assets/8148716/16733211/50d7417e-4789-11e6-8a7d-9d21d4d6d5b6.png)
![screenshot_2016-07-11-11-38-12](https://cloud.githubusercontent.com/assets/8148716/16733100/d5d31714-4788-11e6-9a80-2a321d5bc4bf.png)

[2016-07-11 14:17] Mariella11 commented on #26
Καλησπέρα,

ο κωδικός θα πρέπει να είναι από 6 χαρακτήρες και πάνω, μόνο αυτό έχουμε σαν περιορισμό.
μπορούμε να προσθέσουμε ένα κείμενο (που να εμφανίζεται κάτω από το πεδίο )και να ενημερώνει τον χρήστη.
Ενημερώστε με για το λεκτικό.

[2016-07-11 14:21] dkosmidis commented on #27
Σενάριο 1: Η στάθμευση φαίνεται να λειτούργησε σωστά στο σύνολό της. Φαίνεται ότι υπήρξε στιγμιαία απώλεια σήματος 3G/WIND, που δημιούργησε πρόβλημα στο ePMS. Τέτοιου τύπου προβλήματα αν αντιλήφθηκα σωστά, επιβεβαιώνονται από τη Δημοτική Αστυνομία, για συγκεκριμένα σημεία της πόλης.

Σενάριο 2: Ο οδηγός του οχήματος πάρκαρε σε πεζόδρομο, πλήρωσε μέσω της εφαρμογής για παράνομη στάθμευση... και προ

[2016-07-11 16:06] dkosmidis commented on #26
Προχωρήστε με το κατάλληλο λεκτικό της επιλογής σας.

[2016-07-11 16:08] #24 closed, assigned to Mariella11

[2016-07-11 16:10] dkosmidis opened #29 "Supported Cards"
Θα χρειαστούμε τη λίστα με τις κάρτες που υποστηρίζονται στην αρχική έκδοση της εφαρμογής, ώστε να την επικοινωνήσουμε στο κοινό.

[2016-07-11 16:14] #3 closed, assigned to Mariella11

[2016-07-11 16:39] Alpatsina commented on #28
Please provide the path of this action in order for us to check this asap

[2016-07-11 16:44] Alpatsina commented on #29
MasterCard & visa as you already know. Thank you

[2016-07-11 16:45] Alpatsina commented on #27
We are looking into no4 issue and we'll get back tomorrow!!!

[2016-07-12 07:06] Alpatsina commented on #28
Hello! Kind remainder for the user' s path pls in order for us to check this issue

[2016-07-12 07:22] Mariella11 commented on #26
Ο κωδικός πρέπει να αποτελείται από τουλάχιστον 6 χαρακτήρες

αναμένω έγκριση

[2016-07-12 07:27] Mariella11 commented on #2
δεν εμφανίζουμε στοιχεια της κάρτας πουθενά για λόγους ασφαλείας (έχουμε βάλει αστεράκια στα νούμερα)
αν θέλετε να αλλάξει το λεκτικό, παρακαλώ στείλτε μου ένα

[2016-07-12 07:28] Mariella11 commented on #4
αναμένω ενημέωση για το πως προχωράει το παραπανω

[2016-07-12 07:28] Mariella11 commented on #11
να κλεισει παρακαλω

[2016-07-12 07:28] Mariella11 commented on #7
αναμενω ακόμα ενημέρωση

[2016-07-12 07:30] Mariella11 commented on #8
εχουμε προσθέσει τα μηνύματα αυτα
παρακαλω να κλεισει

[2016-07-12 07:32] Mariella11 commented on #9
εχουμε στειλει σε ολους
να κλεισει

[2016-07-12 07:33] Mariella11 commented on #10
το έχουμε συζητήσει, δεν θα γίνει σε αυτή την φάση!
παρακαλώ να κλείσει

[2016-07-12 07:36] Mariella11 commented on #21
i don't understand the question

[2016-07-12 07:37] Mariella11 commented on #22
για ποιο λόγο?
δεν το θεωρώ σκόπιμο να προστεθεί στο UI

[2016-07-12 07:38] Mariella11 commented on #23
εχουμε κάτι άλλο ή μπορούμε να το κλείσουμε αυτό το issue?

[2016-07-12 07:39] Mariella11 commented on #25
done!

[2016-07-12 08:17] mvitzilaiou commented on #12
Μετά από επικοινωνία με την τράπεζα διαπίστωσα ότι δεν έγινε ποτέ η αγορά του ενός ευρώ.

[2016-07-12 08:27] Mariella11 commented on #12
τι κάρτα χρησιμοποιήσατε?

[2016-07-12 08:28] Mariella11 commented on #12
επίσης έχετε κάνει το update της εφαρμογής σωστά?

[2016-07-12 08:30] mvitzilaiou commented on #12
Mastercard Debit Εθνικής

2016-07-12 11:27 GMT+03:00 Mariella11 notifications@github.com:

##

Βιτζηλαίου Μαρία
Τμήμα Marketing & Επικοινωνίας

Λιοσίων 22, 104 38, Αθήνα
Τηλ. 210 - 5277180
www.daem.gr

[2016-07-12 08:30] mvitzilaiou commented on #12
Ναι, έχω κάνει update.

2016-07-12 11:30 GMT+03:00 ΜΑΡΙΑ ΒΙΤΖΗΛΑΙΟΥ m.vitzilaiou@daem.gr:

##

Βιτζηλαίου Μαρία
Τμήμα Marketing & Επικοινωνίας

Λιοσίων 22, 104 38, Αθήνα
Τηλ. 210 - 5277180
www.daem.gr

[2016-07-12 08:34] Mariella11 commented on #12
από τότε ξαναδοκιμάσατε?
αν όχι δοκιμάστε ξανά τώρα και πείτε μου το μειλ που συνδεθήκατε

[2016-07-12 08:49] mvitzilaiou commented on #12
(m.vitzilaiou@daem.gr)
Άνοιξα τώρα την εφαρμογή, ήμουν συνδεδεμένη ήδη, δε μου ζήτησε να κάνω "σύνδεση".
Η κάρτα μου ήταν αποθηκευμένη.
Αφού άνοιξα το gps ακολούθησα τη διαδικασία αγοράς χρόνου 1 ευρώ και μου έβγαλε το μήνυμα που βλέπετε στην οθόνη που επισυνάπτω.
Συνδέθηκα ξανά και είδα ότι τελικά είχε αγοραστεί το 1 ευρώ. Έλαβα και email επιτυχούς πληρωμής.
Το επιβεβαίωσα και με την τράπεζα ότι

[2016-07-12 09:03] #29 closed, assigned to Mariella11

[2016-07-12 09:09] dkosmidis commented on #28
Hello, please ask Paschalis, as he triggered the 1st log tracing on my device, at Georgiou Stavrou. The previous step, was to activate parking, at Sokratous 47. Parking was active.
If there is a UAT test template, please provide it, so I will try to complete all necessary info.

[2016-07-12 09:11] Mariella11 commented on #12
το κοιτάμε ήδη.
Επανέρχομαι

[2016-07-12 09:14] dkosmidis opened #30 "Ακύρωση ενεργού στάθμευσης (από Δημ. Αστυνομία, κ. Ν Βαζαίος)"
1) Όταν ο χρήστης σταθμεύσει σε κάποιο σημείο π.χ. Σωκράτους 37 και φύγει νωρίτερα από την λήξη του πληρωθέντος ποσού θέλοντας να μεταφερθεί και να ενεργοποιήσει νεώτερη στάθμευση σε άλλο σημείο π.χ. Σκουφά, δεν μπορεί να το κάνει μέχρι να λήξει η προγενέστερη στάθμευση του στην οδό Σωκράτους 37.

[2016-07-12 09:18] dkosmidis opened #31 "PDA functionality (από Δημ. Αστυνομία, κ. Ν Βαζαίος)"
4) Κατά τον έλεγχο ο Δημοτικός Αστυνομικός έβαζε το 5ψήφιο του δρόμου και τον αριθμό κυκλοφορίας του ελεγχόμενου Ι.Χ.Ε., το λογισμικό δεν εμφάνιζε την ενεργοποιημένη στάθμευση στην αρχική οθόνη ελέγχου, και μόνο όταν ο Δημοτικός αστυνομικός έφτανε στο πεδίο συμπλήρωσης των υπολοίπων στοιχείων (μάρκα, χρώμα) έβγαινε πεδίο που έλεγε “υπάρχει ενεργή στάθμευση” χωρίς άλλες λεπτομέρειες.

[2016-07-12 09:25] mvitzilaiou commented on #12
Επισυνάπτω και την οθόνη που μου είχε βγάλει κατά την πρώτη μου αγορά, που τελικά δεν είχε πραγματοποιηθεί.

![screenshot_2016-06-29-13-31-42](https://cloud.githubusercontent.com/assets/20129030/16762034/76d6656a-482b-11e6-8611-be187633187e.png)

[2016-07-12 09:41] warply commented on #28
@dkosmidis  the log trace is on play store account . Please provide to us.

http://i.stack.imgur.com/AVcko.png

[2016-07-12 09:50] warply commented on #21
@dkosmidis  no app version is not visible inside the app.

[2016-07-12 09:53] Mariella11 commented on #31
χρειάζεστε κάτι από εμάς?
γιατί το συγκεκριμένο εχετε αναφέρει και εσεις σε μειλ  ότι πρέπει να το δει η ΝΕΣΣΟΣ
το κοιτάει κάποιος?

[2016-07-12 09:55] Mariella11 commented on #30
σας εχω ενημερώσει ότι θέλουμε επίσημη ενημέρωση ότι επιθυμείτε να προχωρήσουμε σε αυτήν την αλλαγή.

[2016-07-12 10:07] dkosmidis commented on #27
(Σχόλια όπως διατυπώνονται από την Δημ. Αστυνομία, κ. κ. Λεβεντάκης, Βαζαίος)

2) Η εφαρμογή wallet σου επιτρέπει να σταθμεύσεις ακόμα και σε σημεία εκτός Συστήματος Ελεγχόμενης Στάθμευσης π.χ. Αιόλου 86 (πεζόδρομος). Πρόταση είναι να φύγουν από την εφαρμογή τα 5ψήφια των οδών εκτός ζωνών Ελεγχόμενης Στάθμευσης.

3) Ο χρήστης δεν μπορεί να παρέμβει στο σημείο στάθμευσης που έχει πάρει αυτόματα η ε

[2016-07-12 10:09] dkosmidis commented on #31
Mariella, αυτό δεν αφορά warp.ly (δεν είσαι assigned) το χειρίζεται η NESSOS.
Ευχαριστώ.

[2016-07-12 10:11] dkosmidis commented on #30
Έχει χαρακτηρισθεί ως enhancement, είναι για την ενημέρωσή σας. Το χειρίζεται ο κ. Βέρρας!

[2016-07-12 10:12] Mariella11 commented on #30
ok αναμενουμε απάντηση

[2016-07-12 10:26] dkosmidis commented on #28
both issues

[ANRs.docx](https://github.com/DAEM-IT/CITIZEN-WALLET/files/359093/ANRs.docx)

[2016-07-12 11:01] Mariella11 commented on #28
θέλω να είμαστε σίγουροι ότι είχες ανοιχτό το gps
pls confirm!

[2016-07-12 11:04] Mariella11 commented on #27
το 2 είναι θέμα γεωγραφικών δεδομένων.
αναμένουμε και μεις απάντηση σε αυτό!

[2016-07-12 11:19] dkosmidis opened #32 "5-ψηφια (έγγραφο αναφοράς ZONES ver. 2.0 20160629)"
Σε αυτό το .xls, από τη NESSOS, έχουν αντιστοιχιστεί οι ονομασίες που επιστρέφονται από το google maps, με τη συνδρομή της warp.ly, προκειμένου να υπάρχει κοινή ονοματολογία στα συστήματα.

**Επόμενο βήμα:**
Το παρόν αρχείο (ver. 2.0) θα προωθηθεί στη Δημοτική Αστυνομία, προκειμένου να αποχαρακτηρίσει (σημάνει) συνδυασμούς "5-ψηφίων / οδών / αρίθμησης" εκτός Ελεγχόμενης Στάθμευσης, π.χ. το σύνολο

[2016-07-12 11:39] dkosmidis commented on #28
... πως μπορεί να γίνει αυτό; To GPS είναι ενεργό για τη στάθμευση, και λογικά θα πρέπει να είναι ενεργό και και για την ανανέωση. Θα πρέπει να παραμένει ανοιχτό καθ όλη τη διάρκεια της στάθμευσης;

Λέτε ότι η οθόνη και το μήνυμα είναι κάτι που μπορεί να έχει προκύψει αν και εφόσον έχει απενεργοποιηθεί το GPS? Αν χαθεί δηλαδή η σύνδεση θα βγαίνει αυτή η οθόνη; Αν ναι, ίσως να φαίνεται από τα logs.

[2016-07-12 11:43] #25 closed, assigned to nobody

[2016-07-12 11:52] dkosmidis commented on #22
Το θεωρούμε σημαντικό, ειδικά σε αυτό το στάδιο ανάπτυξης, οπότε προτείνουμε να το προσθέσετε σε κάποιο σημείο (πληροφοριακά).

[2016-07-12 11:54] dkosmidis commented on #21
I do not get your reply. Please provide version info. to the app. user.

[2016-07-12 12:00] Mariella11 commented on #22
αφού μπορεί να το δει στα stores!
δλδ να αλλάζουμε κάθε φορά τα εικαστικά....?

[2016-07-12 12:01] #4 closed, assigned to Mariella11

[2016-07-12 12:03] #10 closed, assigned to Mariella11

[2016-07-12 12:04] #7 closed, assigned to nobody

[2016-07-12 12:05] #8 closed, assigned to nobody

[2016-07-12 12:13] dkosmidis opened #33 "messages - triggering events (Citizen Wallet)"
Η ΔΑΕΜ θα μπορούσε να κάνει ένα συνολικό review στα μηνύματα που εμφανίζει η εφαρμογή, αυτά δηλαδή που προκύπτουν ως αποτέλεσμα κάποιου γεγονότος.

Αν η warp.ly το θεωρεί σκόπιμο, θα μπορούσατε να στείλετε τη λίστα με τα "triggering event" - "message".
Η λίστα θα μπορούσε να χρησιμοποιηθεί και ως αναφορά για το όποιο βοήθημα / οδηγίες χρήσης χρειαστεί να δημιουργηθεί σε δεύτερο χρόνο.

[2016-07-12 12:14] #11 closed, assigned to Mariella11

[2016-07-12 12:14] #9 closed, assigned to Mariella11

[2016-07-12 12:59] warply commented on #28
@dkosmidis fix applied. Issue was on effect of bouncing pin on some cases.

[2016-07-12 13:18] Mariella11 commented on #18
exei ginei i allagi !

[2016-07-12 13:19] Mariella11 commented on #17
done!

[2016-07-12 14:28] Mariella11 commented on #33
[lektika CW.docx](https://github.com/DAEM-IT/CITIZEN-WALLET/files/359561/lektika.CW.docx)
Προσπάθησα να τα μαζέψω, αν δείτε ότι κάτι λείπει ενημερώστε με να το προσθέσω

[2016-07-13 07:41] dkosmidis commented on #33
Μαριέλλα ευχαριστώ.
Μαρία, θα ήθελες να κάνετε ένα πρώτο review με τον Βαγγέλη παρακαλώ;

[2016-07-13 07:43] #28 closed, assigned to Mariella11

[2016-07-13 07:44] mabdelrahim1 commented on #33
Καλημέρα,
θα τα κοιτάξουμε και αν χρειάζεται κάποιο κείμενο αλλαγή θα σου στείλουμε

[2016-07-13 07:49] dkosmidis commented on #22
Όχι. Δεν χρειάζεται τίποτε στα εικαστικά. Παρακαλώ να εμφανίζεται σε κάποιο σημείο της εφαρμογής δυναμικά η έκδοση. Μετά την αρχική εγκατάσταση, λογικά η εφαρμογή κάνει updates. Αυτό ζητάμε να φαίνεται στην εφαρμογή που είναι εγκατεστημένη στην συσκευή του χρήστη.

[2016-07-13 07:50] dkosmidis commented on #14
temporarily suspended

[2016-07-13 10:50] vgogolidis opened #34 "Εύρος στάθμευσης"
Καλησπέρα, είναι η 2η φορά που το παρατήρησα και για αυτό το ανεβάζω ως bug. Βρίσκομαι στη Λιοσίων 22 και δοκιμάζω την εφαρμογή. Του πατάω ενεργοποίηση στάθμευσης και με βγάζει πως βρίσκομαι στη Σωνιέρου 19
![screenshot_2016-07-13-13-10-51 1](https://cloud.githubusercontent.com/assets/19796926/16801033/0d50a624-4901-11e6-91df-3d85fb3d64d9.png)

Ποιό είναι το πρόβλημα εδώ; Πως είμαι στη Λιοσιών 22

[2016-07-13 10:55] Mariella11 commented on #34
ναι το γνωρίζουμε και το κοιτάμε από χτες!
πείτε μου σας παρακαλώ με ποιο mail έχετε συνδεθεί για να ελέγξουμε και αυτή την περίπτωση.

[2016-07-13 10:56] Mariella11 commented on #17
μπορουμε να το κλείσουμε αυτό παρακαλώ?

[2016-07-13 10:56] Mariella11 commented on #18
να το κλείσουμε και αυτό ?

[2016-07-13 10:57] vgogolidis commented on #34
Το email είναι vaggogol@gmail.com

[2016-07-13 10:58] Mariella11 commented on #32
έχουμε νεότερα από την Δημοτική αστυνομία? για να δούμε πως προχωράμε

[2016-07-13 11:02] vgogolidis opened #35 "Σύνδεση χρήστη"
Βρίσκομαι στο είσοδος χρήστη και προσπαθώ να μπώ. Βλέπω πως έχετε βάλει κάποιο πλήθος ελέγχων (να είναι εμαιλ το 1ο κλπ). Όταν πατάω κλικ και δεν ισχύει κάποιος έλεγχος μου εμφανίζει ένα κοκκινο πεδίο χωρίς όμως να μου εμφανίζει ακριβώς ποιό είναι το πρόβλημα (πχ ελέγξτε το εμαιλ σας, ελέγξτε το κωδικό πρόσβασης κλπ). Θεωρώ σωστό να προσθεθούν τα σχετικά μηνύματα όταν κάτι από αυτά δεν είναι ορθό,

[2016-07-13 11:07] vgogolidis opened #36 "Επαναφορά κωδικού πρόσβασης"
Δοκίμασα να κάνω επαναφορά κωδικού πρόσβασης. Όταν προσπάθησα να ανοίξω το μαιλ από σταθερό υπολογιστή και όχι από το κινητό μου εμφανίζει κενή οθόνη. Αντίθετα όταν το κάνω από το κινητό μου το εμφανίζει σωστά. Παρακαλώ είτε επιτρέψτε την επαναφορά από σταθερό/φορητό υπολογιστή, είτε αναφέρεται στο λεκτικό πως η επαναφορά μπορεί να γίνει μόνο από την συσκευή που είναι εγκαταστημένη η εφαρμογή.
![s

[2016-07-13 11:09] Mariella11 commented on #2
εχουμε προσθέσει το παρακάτω λεκτικό αντί η σελίδα θα είναι σύντομα διαθέσιμη - Νέες λειτουργίες θα είναι σύντομα διαθέσιμες"

[2016-07-13 11:10] vgogolidis opened #37 "Σελίδα επαναφοράς κωδικού"
Παρακαλώ για την χρήση κοινής ορολογίας ως προς τον κωδικό. Για παράδειγμα στη σελίδα επαναφοράς εμφανίζεται στην ίδια σελίδα πάνω το "κωδικός", στη μέση το "κωδικός ασφαλείας" και στο τέλος το κωδικός πρόσβασης.

Νομίζω πως το σωστό στα λεκτικά που πρέπει να εμφανίζεται / χρησιμοποιείται από όλες τις σελίδες, είναι το "κωδικός πρόσβασης". Θα σας το επιβεβαιώσει η Μαρία και στα λεκτικά που θα σας

[2016-07-13 11:11] #17 closed, assigned to nobody

[2016-07-13 11:12] #18 closed, assigned to nobody

[2016-07-13 11:12] Mariella11 commented on #36
το button νεος κωδικός σε παραπέμπει σε οθόνη μέσα στην εφαρμογή, δλδ ανοίγει το app και σου εμφανίζει την οθόνη από όπου αλλάζεις κωδικό.
Οπότε δεν μπορεί να λειτουργήσει από υπολογιστή.
Θα το προσθέσουμε στο λεκτικό.

[2016-07-13 11:14] Mariella11 commented on #37
οκ προτείνω κωδικό πρόσβασης

[2016-07-13 11:15] Mariella11 commented on #35
είναι θέμα security, δεν πρέπει να τον ενημερώνουμε τι ακριβώς έχει κάνει λάθος

[2016-07-13 11:16] vgogolidis commented on #2
Πολύ ωραία νομίζω πως είναι σωστό. Κάτι ακόμα στην ίδια σελίδα που είδα τώρα. Γράφει "ADD NEW CARD" όταν πάω να προσθέσω κάρτα. Μπορεί να γίνει "Προσθήκη Κάρτας" ή κάτι σχετικό στα Ελληνικά;
![screenshot_2016-07-13-14-15-57 1](https://cloud.githubusercontent.com/assets/19796926/16801600/59ae63e6-4904-11e6-8200-9f4d37b68fc9.png)

[2016-07-13 11:23] vgogolidis commented on #35
Δεν αναφέρομαι στο θέμα της ενημέρωσης του γιατί δεν έχεις δικαίωμα να μπεις αλλά στο ότι ενδεχομένως το κοκκινο γύρω από τα πεδία να μην είναι εμφανές στον καθένα.

Μπορείτε να βάλετε απλά ένα ενημερωτικό παράθυρο όπως αυτά που εμφανίζονται μέσα στην εφαρμογή που να του λέει πως "η σύνδεση απέτυχε" ή κάτι σχετικό; Επισυνάπτω παράδειγμα από το ibank της Εθνικής.

![screenshot_2016-07-13-14-20-14 1

[2016-07-13 12:10] Mariella11 commented on #22
επειδή δεν είναι σύνηθες πρακτική και δεν το έχουμε κάνει ούτε δει αλλού.
μπορείς να μου προωθήσεις ένα ss από άλλη εφαρμογή που το έχεις δει για να το καταλάβουμε καλύτερα και να δούμε αν μπορούμε να το φτιάξουμε?

[2016-07-13 12:11] Mariella11 commented on #26
το έχω προσθέσει το παραπάνω λεκτικό. είναι και μέσα στο doc που σας προώθησα ώστε να τα έχετε συγκεντρωμένα και να μας στείλετε τυχόν αλλαγές
οπότε ας κλείσει αυτό το issue και ας κρατήσουμε το άλλο που συγκεντρώνει όλα τα λεκτικά

[2016-07-13 12:25] vgogolidis commented on #22
2 παραδείγματα από eshop και Cosmote.

Το 1ο είναι στο splash screen της εφαρμογής, το 2ο είναι όταν κάνεις κλικ στο Ρυθμίσεις.

![screenshot_2016-07-13-15-20-57 1](https://cloud.githubusercontent.com/assets/19796926/16803224/e4fa1842-490d-11e6-8388-02bf5b16aa87.png)
![screenshot_2016-07-13-15-21-53 1](https://cloud.githubusercontent.com/assets/19796926/16803228/ea14f6bc-490d-11e6-9516-e01bc04a250

[2016-07-13 12:27] vgogolidis commented on #33
Επισυνάπτω το σχετικό κείμενο.

[κείμενα για τα μηνύματα της εφαρμογής CW.docx](https://github.com/DAEM-IT/CITIZEN-WALLET/files/361455/CW.docx)

[2016-07-13 15:09] dkosmidis commented on #32
... θα ενημερωθείτε αμέσως με το που έχουμε νεότερα.

[2016-07-13 17:44] Mariella11 commented on #37
done!

[2016-07-13 17:45] Mariella11 commented on #36
done!

[2016-07-13 17:48] Mariella11 commented on #35
ok θα προσθέσουμε αντίστοιχο λεκτικό

[2016-07-13 17:50] Mariella11 commented on #33
τα αλλάξαμε όλα!

[2016-07-13 17:51] Mariella11 commented on #22
οκ το κατάλαβα θα το προσθέσουμε στο splash screen

[2016-07-14 06:39] ppetrogian commented on #31
Στην  έκδοση  2.1.3.0 του λογισμικού ελεγχόμενης στάθμευσης έχουμε ενσωματώσει τις παρακάτω βελτιώσεις :
1.  Στην οθόνη ελέγχου  (check1) σε κάθε αναζήτηση στην οποία έχουμε επιλέξει το 5-ψηφιο εμφανίζεται λίστα  (αριθμός οχήματος και ώρα λήξης της στάθμευσης)  των οχημάτων με έγκυρη στάθμευση
2.  Στην ίδια οθόνη εάν ο χρήστης έχει καταχωρήσει τον αριθμό οχήματος ή μέρος αυτού τότε εμφανίζεται πάλ

[2016-07-14 08:43] warply commented on #34
Ο λόγος που συμβαίνει το παραπάνω είναι το gps του device και η ακρίβεια που είχε την δεδομένη χρονική στιγμή. Η ακρίβεια επηρεάζεται απο αρκετούς παράγοντες (hardware , κλειστός η ανοιχτός χώρος, αν το gps άνοιξε εκείνη την χρονική στιγμή ή ήταν ανοιχτό νωρίτερα οπότε έχει μεγαλύτερη  ακρίβεια) (edited)

Το σενάριο του να μπορεί ένας χρήστης να παρκάρει πολύ εκτός του location του device δεν το θ

[2016-07-14 09:27] Mariella11 commented on #2
το επιβεβαιώνει και το μαρκετινγκ ?
να το προχωρήσω?
προτείνω "Προσθήκη νέας κάρτας" "προσθέστε την κάρτα σας"

[2016-07-14 09:40] mvitzilaiou commented on #2
Ναι, παρακαλούμε να γίνει "Προσθήκη Κάρτας".
Ευχαριστούμε

2016-07-14 12:27 GMT+03:00 Mariella11 notifications@github.com:

##

Βιτζηλαίου Μαρία
Τμήμα Marketing & Επικοινωνίας

Λιοσίων 22, 104 38, Αθήνα
Τηλ. 210 - 5277180
www.daem.gr

[2016-07-14 09:43] mvitzilaiou commented on #2
Λάθος εκ παραδρομής. Να γίνει "Προσθήκη νέας κάρτας".

[2016-07-14 13:29] #36 closed, assigned to nobody

[2016-07-14 13:29] #37 closed, assigned to nobody

[2016-07-14 13:36] vgogolidis commented on #34
Θεωρώ πως αντίστοιχα δεν θέλουμε και το σενάριο του κάποιος πραγματικός χρήστης να μην μπορεί να παρκάρει σε μια τοποθεσία διότι το εύρος που του επιτρέπει το κινητό, δεν περιέχει την πραγματική του θέση, σε σχέση με την απόκλιση που έτυχε εκείνη τη στιγμή.

Ενδεχομένως να πρέπει να συζητηθεί στο άμεσο μέλλον, σε σχέση με το σύνολο των δοκιμών που πραγματοποιήθηκαν και τον αριθμό των εμφανίσεων το

[2016-07-14 13:38] #26 closed, assigned to nobody

[2016-07-14 13:39] vgogolidis commented on #33
Οκ αναμένουμε την έκδοση για να ανέβει στο σχετικό store, να τα ελέγξουμε και να το κλείσουμε.

[2016-07-15 08:17] Mariella11 commented on #19
να το κλείσουμε και αυτό?
χρειάζεστε κάτι άλλο εδώ?

[2016-07-15 08:18] Mariella11 commented on #22
το προσθέσαμε θα το δείτε στο update

[2016-07-15 09:01] vgogolidis commented on #19
Να το κλείσουμε αλλά δεν κατάλαβα αν ελέγξατε πως βάσει της κείμενης νομοθεσίας δεν πρέπει να αναφέρεται.

[2016-07-15 09:01] #21 closed, assigned to Mariella11

[2016-07-15 09:01] #22 closed, assigned to Mariella11

[2016-07-15 09:05] Mariella11 commented on #34
ο λόγος που έχουμε περιορίσει την ακτίνα είναι για να μην δηλώνουν οι χρήστες την τοποθεσία της στάθμευσής τους από μακριά και να περιορίσουμε τα λανθασμένα parkings.
Θα ανοίξουμε λίγο ακόμα την ακτίνα για να έχουν την δυνατότητα και οι χρήστες που αντιμετώπισαν κάποιο θέμα με την ακρίβεια του gps τους την δεδομένη χρονική στιγμή να δηλώσουν (μετακινώντας το πιν) στο ακριβές σημείο στάθμευσης.

[2016-07-15 09:52] Mariella11 commented on #19
το συζητήσαμε και με το νομικό μας τμήμα και δεν το κρίνουμε απαραίτητο να προστεθεί.
ελέγξτε το και εσείς με το νομικό σας τμήμα αν έχετε αντίθετη άποψη

[2016-07-18 13:08] dkosmidis commented on #27
έχουμε δώσει λύση στο 3);

[2016-07-18 13:18] dkosmidis opened #38 "Αγορές (Η κάρτα μου)"
Έκδοση (6) 1.0.2
Δεν φαίνονται τα ποσά, παρά -.
Πρόκειται για ποσά που έχουν αγορασθεί με τη χρήση της κάρτας ή για ποσά που έχουν καταναλωθεί σε σταθμεύσεις. Ίσως να δίναμε πιο κατάλληλη περιγραφή στο "κόκκινο" tab "Η κάρτα μου"

![screenshot_2016-07-18-15-52-04](https://cloud.githubusercontent.com/assets/8148716/16916002/4fa78d20-4d03-11e6-86c1-326c1b0083ec.png)

[2016-07-18 13:40] Mariella11 commented on #27
3) Ο χρήστης δεν μπορεί να παρέμβει στο σημείο στάθμευσης που έχει πάρει αυτόματα η εφαρμογή wallet μέσω του gps.
--- μπορεί εντός της ακτίνας, μένει να αποφασίσουμε αν θα ανοίξουμε κιάλλο την ακτίνα πράγμα που δεν συστήνουμε
 Εμφανίστηκε το φαινόμενο ο χρήστης να θέλει να σταθμεύσει επί της οδού Αγίων Ασωμάτων και το σύστημα να κλειδώνει το 5ψήφιο της οδού Σαρρή.
--- θέμα γεωγραφικών

[2016-07-18 13:53] Mariella11 commented on #38
είναι στοιχεία κάρτας.
δηλαδή εμφανίζονται τα ποσά που χρεώθηκε η κάρτα και όχι το ποσό που εξαργύρωσε ο χρήστης.

Δεν φαίνονται τα ποσά, παρά -.
--- το κοιτάμε εσωτερικά και επανέρχομαι

[2016-07-18 13:56] dkosmidis commented on #14
Λεπτομερής περιγραφή:
1. Τα στοιχεία εγγραφής και ο χώρος που αποθηκεύονται.
2. Πως διασφαλίζεται (πέραν της νομικής διατύπωσης στους όρους χρήσης & στην πολιτική απορρήτου) η χρήση των προσωπικών δεδομένων, μόνο για το σκοπό που χορηγήθηκαν (στάθμευση σε αυτό το στάδιο)
3. Ποια είναι η διαδικασία (εάν υφίσταται) και ποιες οι προϋποθέσεις εγγεγραμμένοι χρήστες να διαγραφούν τελείως από το σύστημα.

[2016-07-18 14:00] dkosmidis opened #39 "User guide"
Τι υλικό και σε ποια μορφή θα παραδοθεί; Χρειάζεται η συνδρομή της ΔΑΕΜ;

[2016-07-18 14:02] dkosmidis opened #40 "Admin Dashboard (& API?)"
Θα χρειαστεί να έχουμε μια εικόνα του περιβάλλοντος διαχείρισης και των δυνατοτήτων εξαγωγής δεδομένων και στατιστικών στοιχείων σε τρίτες εφαρμογές.
Επίσης, προβλέπεται κάποιου είδους κοινής εκπαίδευσης;

[2016-07-18 14:14] Mariella11 commented on #39
εχουμε ετοιμάσει το video. σας το έχουμε παραδώσει
χρειάζεσαι κάτι άλλο?

[2016-07-18 14:24] dkosmidis commented on #39
Πιστεύετε ότι είναι αρκετό για τον χρήστη; Αν ναι, κλείνω άμεσα το θέμα.

[2016-07-18 14:38] dkosmidis commented on #27
Φοβάμαι ότι δεν ήταν θέμα γεωγραφικών. Ήταν ξεκάθαρο ότι η εφαρμογή αγνοούσε την παρέμβαση του χρήστη (πάντα μέσα στο εύρος της ακτίνας στάθμευσης) και έστελνε την αρχική τιμή του GPS.
Το σενάριο περιγράφεται αναλυτικά, η απόσταση είναι ~20 μέτρα.

[(https://www.google.gr/maps/dir/%CE%A3%CE%B1%CF%81%CF%81%CE%AE+51,+%CE%91%CE%B8%CE%AE%CE%BD%CE%B1/Ag.+Asomaton+8,+Athina+105+53/@37.9777478,23.7207967

[2016-07-18 14:46] Mariella11 commented on #39
έχουμε ετοιμάσει και σας έχουμε στείλει και ένα ppt
δεν γνωρίζω που θέλετε να το χρησιμοποιήσετε.
να το ανανεώσω με τις τελευταίες προσθήκες-αλλαγές που κάναμε στην εφαρμογή και να το ξαναστείλω?

[2016-07-19 06:57] mvitzilaiou commented on #39
Για την σωστή ολοκλήρωση των εργασιών μας χρειαζόμαστε το User's Guide της εφαρμογής. Όχι μια απλή παρουσίαση, το αρχείο ppt που έχουμε ήδη λάβει δεν αντικαθιστά το User's Guide και δεν απαντά σε σημαντικά θέματα λειτουργίας της εφαρμογής.

[2016-07-19 11:32] vgogolidis commented on #19
- για το αποδεικτικό αγοράς στο e-mail. Ας προσθέσουμε το ότι δεν έχει ισχύ φορολογικού παραστατικού όπως προτείνει ο Βαγγέλης. Είναι χρήσιμη πληροφορία για τον πολίτη στο email του. Σε δεύτερο χρόνο ίσως χρειαστεί να δούμε συνολικά τι παραστατικά θα απαιτούνται από το warply pay
  **είναι νόμιμη απόδειξη. Είναι λάθος να προστεθεί**
  Απο μαιλ

[2016-07-19 11:32] #19 closed, assigned to nobody

[2016-07-19 11:33] #2 closed, assigned to Mariella11

[2016-07-19 11:34] #35 closed, assigned to nobody

[2016-07-19 11:48] #12 closed, assigned to Mariella11

[2016-07-19 13:04] Mariella11 commented on #27
ναι έχει φτιαχτεί.
στο τελευταίο build είναι και αυτή η αλλαγή μέσα.

[2016-07-19 13:05] Mariella11 commented on #33
το ελέγξατε μήπως? έχει ανέβει στα stores

[2016-07-19 13:18] #16 closed, assigned to nobody

[2016-07-19 13:20] #31 closed, assigned to ppetrogian

[2016-07-19 13:21] #27 closed, assigned to Mariella11

[2016-07-19 13:23] dkosmidis commented on #23
Το κλείνω εκ μέρους του κ. Βέρρα.

[2016-07-19 13:23] #23 closed, assigned to Mariella11

[2016-07-19 13:29] dkosmidis opened #41 "Χρειάζεται να παραμένει ενεργό το GPS της συσκευής μου και μετά την ενεργοποίηση της στάθμευσης;"

[2016-07-19 13:45] dkosmidis opened #42 "App. Notification (Extend Parking Time)"
Παρακαλώ να περιγραφεί αναλυτικά η υλοποίηση σε android, i.e., [https://developer.android.com/guide/topics/ui/notifiers/notifications.html] αλλά και iOS, του μηχανισμού ειδοποίησης του χρήστη, για την ανανέωση του χρόνου στάθμευσης. Αν υπάρχουν screen caps, θα ήταν πολύ βοηθητικά επίσης

**Σημείωση**: Σαν γενική, προσωπική παρατήρηση, νομίζω ότι στην υφιστάμενη υλοποίηση, το "count down" (ως in-ap

[2016-07-19 13:53] Mariella11 commented on #39
αναλυτική περιγραφή θα ήθελα με το τι χρειάζεστε και σε τι μορφή.
έχετε τα εικαστικά, έχετε και μια παρουσίαση, αν έχετε απορίες σχετικά με την λειτουργία πολύ ευχαρίστως να σας βοηθήσουμε
απλά πείτε μου ακριβώς τι χρειάζεστε για να καταλαβω

[2016-07-19 13:56] Mariella11 commented on #34
εχω προτείνει σε μαιλ να προστεθεί ένα pop up στην περίπτωση που κάποιος χρήστης πάει να παρκάρει και το gps του έχει ασθενές σήμα
αναμένουμε απάντηση

[2016-07-19 16:00] dkosmidis commented on #39
Μαριέλλα, θα σας ανοίγουμε issue για τα θέματα που χρειαζόμαστε τη βοήθειά σας, ώστε αυτό να είναι συγκεκριμένο και κατανοητό.
**Ενδεικτικά**: #42 "App. Notification",  #14 "Data Store Mechanism (warply.pay)".

[2016-07-20 08:31] mvitzilaiou commented on #39
Δημήτρη δεν γίνεται να ανοίγουμε issue για οποιαδήποτε απορία και να ασχολούμαστε τόσοι άνθρωποι διαρκώς με αυτό. Εσύ ο ίδιος ήρθες και μας είπες ότι τα κείμενα του Flyer που φτιάξαμε, μετά την παρουσίαση που λάβαμε από τη warply, είναι ΛΑΘΟΣ. Μας είπες ότι ο χρήστης δημιουργείται "επάνω" στην κάρτα που δηλώνει, ενώ τελικά ΔΕΝ ΙΣΧΥΕΙ. Ο χρήστης δημιουργείται βάσει του email που δηλώνει σε συνδυασμ

[2016-07-20 09:15] vgogolidis opened #43 "Registration σε iOS"
Καλημέρα,

προσπάθησα να γραφτώ με iPhone 6S και είχα τα ακόλουθα θέματα:
1. Δε μπορούσα να πατήσω καταχώρηση ενώ είχα συμπληρωμένα όλα τα στοιχεία. Δε καταλάβαινα βλέποντας την οθόνη αν έβαζα κάτι λάθος ή αν το κουμπί δεν είχε ενεργοποιηθεί.
2. Η επιλογή της ημερομηνίας αρκετές φορές ενώ πήγαινα τη ροδέλα της καρτας σε συγκεκριμένη ημερομηνία δεν το δεχόταν. Παρακάλω ελέγξτε αν είναι θέμα του συγ

[2016-07-20 09:23] vgogolidis opened #44 "iOS Version / Android Version"
Καλησπέρα,

προσπάθησα να κατεβάσω την εφαρμογή με iPhone 4S και μου πέταξε το ακόλουθο μήνυμα:
![img_3437](https://cloud.githubusercontent.com/assets/19796926/16981671/489aa856-4e74-11e6-813c-c7d4ce042d62.JPG)

Το iOS 7 υποστηριζόταν έως 30/06/2014 (πριν 2 χρόνια δηλαδή) που δεν κρίνω πως είναι και πολύ παλαιά ημερομηνία, οπότε θα ήθελα να ρωτήσω αν χρησιμοποιείτε κάποιο ειδικό feature του 8 που

[2016-07-20 12:49] dkosmidis opened #45 "Αγορά εισιτηρίου"
Τιμές

Θα χρειαστεί να προστεθούν τα ποσά €10, €20, €50 ως επιλογές αγοράς.
Στη διακριτική σας ευχέρεια αν τα κουπόνια θα πρέπει να εμφανίζονται διαφορετικά στο UI.

Τιμές/Rates
Δεν χρειάζεται να ενημερωθεί ο Τιμοκατάλογος.

[2016-07-20 14:20] Mariella11 commented on #44
η εφαρμογή είναι για 8 και πάνω.
χρησιμοποιούμε libraries gia auto layout που δεν υποστηρίζονται  από iOS 7
Σύμφωνα με την apple το 95 % των ενεργών devices είναι ios 8 και πάνω

[2016-07-20 14:23] Mariella11 commented on #44
android. απο 4.0.3 (api 15) και πάνω

[2016-07-20 14:26] Mariella11 commented on #42
δεν το καταλαβαίνουμε, σε τι βαθμό θέλετε να αναλυθεί η υλοποίηση

[2016-07-20 14:27] Mariella11 commented on #41
αν πας να αγοράσεις ή αν πας να πατήσεις τον οθόνη του χάρτη

[2016-07-20 14:28] Mariella11 commented on #38
ήταν θέμα συσκευής, θα το φτιάξουμε άμεσα

[2016-07-20 15:10] Mariella11 commented on #43
φαίνεται να έχετε παλαιότερη έκδοση.
στη νέα έκδοση έχουμε προσθέσει μηνύματα που ενημερώνουν τον χρήστη για το λάθος του κατά την εγγραφή του και το κουμπί καταχώρηση δεν είναι active
να σας στείλουμε το νέο build?
παρακαλώ δώστε μου mails να το προχωρήσω άμεσα

[2016-07-20 15:43] Alpatsina commented on #45
Καλησπέρα. Θα ήθελα να παρακαλέσω να μας στείλετε σε ένα μαιλ όλα τα νέα / έξτρα features που θέλετε για να σας στείλουμε κόστος για αυτά κ αφού καταλήξουμε κ συμφωνήσουμε να σας δώσουμε κ χρόνους υλοποίησης.

[2016-07-20 15:48] Alpatsina commented on #30
Παρακαλώ να κλείσει

[2016-07-20 16:20] dkosmidis commented on #45
Παρακαλώ το παρόν feature να ενσωματωθεί άμεσα, κακώς δεν έχει υλοποιηθεί ακόμα, το συζητάμε από τις πρώτες μας συναντήσεις (θα αναζητήσω και τα σχετικά emails). Καταχρηστικά έχει χαρακτηρισθεί ως "enhancement" εδώ. Αυτό ισχύει για να κατηγοριοποιηθεί στο πλέον κατάλληλο "label" (αφού δεν πρόκειται για "bug" αλλά ουσιαστικά για "παράλειψη", όχι με δική σας ευθύνη).

Όσον αφορά τα επόμενα features,

[2016-07-20 16:27] dkosmidis commented on #42
Δεν βλέπουμε την περιγραφή της στο video ή στην τελευταία έκδοση του .ppt. Αν υπάρχει νεότερη έκδοση του .ppt που το περιλαμβάνει, παρακαλώ να την επισυνάψετε.
Το κοινό αναφοράς είναι ο μέσος χρήστης της εφαρμογής.

[2016-07-20 16:32] Alpatsina commented on #45
Καλησπέρα.

το feature αυτό δεν μπορεί να προστεθεί άμεσα - αφορά σε αλλαγή πολύ μεγάλη
και  πριν τα τέλη αυγούστου δεν θα μπορεί να είναι έτοιμη.

Όπως προανέφερα θα ήθελα με ένα mail - ΣΥΓΚΕΝΤΡΩΜΕΝΑ - ότι θέλετε έξτρα και
δεν υπάρχει σήμερα στην εφαρμογή, για να επανέλθω με χρόνους και (αν αφορά
σε νέα ζητούμενα) με κόστη.

φιλικά
Μαρία

_Maria Patsi_
CMO, Warply
p: +30 2103234175 | m: +30-69366

[2016-07-20 16:34] dkosmidis commented on #41
Επαναλαμβάνω το ερώτημα.

Έχω ενεργοποιήσει στάθμευση.
1. Μπορώ στη συνέχεια να σβήσω το GPS της συσκευής μου, χωρίς να επηρεασθεί η λειτουργία της εφαρμογής, ref.: Issue #28;
2. Αν σβήσω το GPS, εξακολουθώ να έχω valid notification ότι λήγει ο χρόνος, ώστε να τον ανανεώσω;
3. Όταν πάω να τον ανανεώσω, μου ζητά πρώτα να ενεργοποιήσω τη συσκευή μου και αφού το κάνω:
-  βρίσκει την ενεργό στάθμευσή

[2016-07-20 16:52] dkosmidis commented on #38
... της δικής μου Lenovo A356 / Android 4.4.2?

[2016-07-20 16:54] #30 closed, assigned to Mariella11, verrask

[2016-07-20 17:03] dkosmidis commented on #45
Να προγραμματισθεί για τις πολύ πρώτες μέρες του Σεπτέμβρη από εσάς. Θα χρειαστεί από ότι φαίνεται build μόνο γι' αυτό το feature, που ίσως συμπεριλαμβάνει και πιθανές διορθώσεις από testing που μπορεί να έχει μεσολαβήσει και γνωστοποιηθεί μέσω github.
Εάν χρειαστεί οποιαδήποτε διευκρίνιση για το παρόν θέμα, αυτή πλέον θα γίνει μεταξύ των κ.κ. Βέρρα, Δοξαρά και θα αφορά στο κατά πόσον αφορά "έξτρα

[2016-07-21 06:19] vgogolidis commented on #43
Καλημέρα,
ο χρήστης έχει την έκδοση που ήταν διαθέσιμη για download από το Apple Store, το κατεβάσαμε χθες μαζί.
To email του είναι alexmirkos@gmail.com

[2016-07-21 06:25] vgogolidis commented on #34
Καλημέρα,
σας ενημερώνω οτι το θέμα συζητήθηκε στη ΔΑΕΜ και επικυρώνουμε το να πάει η ακτίνα στα 40 μέτρα.

[2016-07-21 06:35] #44 closed, assigned to nobody

[2016-07-21 07:32] Mariella11 commented on #34
Καλημέρα, έχει γίνει η αλλαγή!

[2016-07-21 07:33] Mariella11 commented on #38
διορθώθηκε!

[2016-07-21 07:38] Mariella11 commented on #43
Καλημέρα,
Θα στείλουμε νέο build στο παραπάνω mail.
θα μπορούσατε να με ενημερώσετε αν εξακολουθεί να μην συνδέεται ? ευχαριστώ

[2016-07-21 08:14] Alpatsina commented on #45
Καλημέρα

Κ. Κοσμίδη ας μην δημιουργούμε αναστάτωση χωρίς λόγο σας παρακαλώ -
εμείς με τον κ Βέρρα έχουμε άψογη συνεννόηση κ όπως είχαμε πει κ μαζί του
αυτό με τα ποσά θα προστεθεί σε δέυτερη φάση.
Αυτό που σας ζήτησα είναι για έξτρα / νέα features να μας τα στείλετε
συγκεντρωμένα σε ένα μαιλ για να μπορέσουμε να δώσουμε ένα συνολικό χρόνο/
κόστος effort.

Φιλικά
Μαρία

On Wednesday, July 20, 2016

[2016-07-21 08:17] vgogolidis commented on #43
![img_3446](https://cloud.githubusercontent.com/assets/19796926/17015694/4a84067e-4f34-11e6-9d88-c4b1bc5bc178.PNG)

Θα ήθελα να σας ρωτήσω αν πριν το στείλετε στο χρήστη το δοκιμάσατε σε εσάς και λειτουργούσε. Σε εμάς εμφανίζει μήνυμα αποτυχίας στο κατέβασμα.

[2016-07-21 08:21] Alpatsina commented on #42
Καλημέρα. Μας στείλατε το documentation για developers σαν υπόδειγμα του τι χρείαζεστε. Μπορούσατε απλά να μας πείτε ότι θέλετε συμπληρωματικά κάποιες οθόνες στο ppt κ θα το είχατε ήδη. Παρακαλώ να είμαστε πιο συγκεκριμένοι στα ζητούμενα γιατί χάνουμε πολύ χρόνο χωρίς λόγο. Ευχαριστώ

[2016-07-21 09:44] Mariella11 commented on #42
Όταν ο server (μέσω ενός chron task) δει ότι σε δέκα λεπτά λήγει ένα ticket βρίσκει το token του device του χρήστη (το οποίο γίνεται match από το login). Από το token καταλαβαίνει αν είναι ios ή android και στέλνει ΄ένα notification μέσω του APN (για apple) ή του GCM (για anroid). Μέσα στο notification υπάρχει η πληροφορία ότι αφορά ticket  expration και στο άνοιγμα του notificaiton πηγαίνει στην

[2016-07-21 10:04] Mariella11 commented on #42
[Citizen Wallet.Presentation.pptx](https://github.com/DAEM-IT/CITIZEN-WALLET/files/375657/Citizen.Wallet.Presentation.pptx)
Επισυνάπτω και το ppt. αν χρειάζεστε κάτι άλλο με ενημερώνετε...

[2016-07-21 10:28] dkosmidis commented on #45
... σας μεταφέρω "issue" από το Integration Test Review Meeting, στις 19/7  με τον κ. Βέρρα. Φαίνεται ότι το συγκεκριμένο ζήτημα δεν έχει μεταφερθεί σωστά στη warp.ly, δεν μπορώ να το εξηγήσω διαφορετικά.
**Παρακαλώ χειριστείτε το συγκεκριμένο θέμα κατάλληλα.**

Η υπόλοιπη επικοινωνία μας μπορεί να γίνει εκτός github.

Ευχαριστώ.

[2016-07-21 11:04] Mariella11 commented on #42
χρειάζεστε κάτι άλλο ? να το κλείσουμε?

[2016-07-21 11:11] dkosmidis commented on #42
Επαναδιατυπώνω το θέμα.
Η **ανάγκη** είναι να εξηγήσουμε στον μέσο χρήστη της εφαρμογής το μηχανισμό ανανέωσης του χρόνου στάθμευσης, ώστε να αποφύγει ένα πιθανό πρόστιμο.
Το **πρόβλημα** είναι, ότι δεν υπήρχε σχετική αναφορά στο όποιο (user manual, user guide, κλπ.) διαθέτουμε, και πρέπει να περιγραφεί.
Η **παρατήρησή μας - προβληματισμός** μας από τις δοκιμές είναι ότι το "count down" της ενεργο

[2016-07-21 11:21] Mariella11 commented on #42
"Παρακαλώ να περιγραφεί **αναλυτικά** η υλοποίηση σε android, i.e., " - και το link που μας δόθηκε δεν παίζει!

[2016-07-21 11:25] warply commented on #41
Αν έχει ενεργοποιηθεί η στάθμευση.
1. Μπορεί να κλέισει το GPS χωρίς να επηρεαστεί η λειτουργία.
2.Ναι και χωρίς gps θα έρθει το notificaitno ότι λήγει η στάθμευση
3.α) Ναι αν υπάρχει ενεργή στάθμευση για να μπω στη οθόνη του parking χρειάζεται το GPS.
3.β) Η ενημέρωηση που λαμβάνει ο χρήστης είναι 10 λεπτά πριν λήξει το parking. Ο τρόπος που απεικονόζετε όταν το parking λήξει έιναι ότι δεν βγάινε

[2016-07-21 11:32] Mariella11 commented on #42
10 λεπτά πριν λήξει ενός ενεργού εισιτήριου στέλνουμε στον χρήστη ένα notification.
Μέσα στο notification υπάρχει η πληροφορία που αφορά την επέκταση χρόνου στάθμευσης.
το άνοιγμα του notificaiton οδηγεί τον χρήστη στην οθόνη του parking.
Εκεί ο χρήστης μπορεί να δει τον χρόνο που έχει ήδη ενεργοποιήσει στην συγκεκριμένη θέση και πόσο χρόνο έχει την δυνατότητα να χρησιμοποιήσει επιπλέον πάλι στην

[2016-07-21 11:33] Mariella11 commented on #34
na to kleisoume parakalw?

[2016-07-21 11:52] Mariella11 commented on #14
1. τα στοιχεία αποθηκεύονται στο cloud της amazon σε pci compliant μηχανήματα
2. Πέρα από τη νομική κατοχύρωση, η πρόσβαση σε πληροφορίες προσωπικών δεδομένων των υπαλλήλων στη Warply είναι διαβαθμισμένη, και μάλιστα διασφαλίζεται απο εξωτερικούς auditors, μέσω των πιστοποίησεων ISO 270001 και PCI-DSS!
3. \- δεν υπάρχει τέτοια υλοποίηση. Αυτή τη στιγμή δεν μπορεί κάποιος να διαγραφεί εκτός αν μας

[2016-07-21 12:29] #34 closed, assigned to nobody

[2016-07-21 12:48] #42 closed, assigned to Mariella11

[2016-07-21 12:50] #14 closed, assigned to Mariella11

[2016-07-21 12:54] dkosmidis commented on #38
Πως μπορώ να το δω στη συσκευή μου; Τι χρειάζεται να κάνω για να εμφανιστούν;

[2016-07-21 13:24] Mariella11 commented on #38
να κατεβάσετε το νέο build.
το στέλνω ξανά

[2016-07-21 13:44] #41 closed, assigned to Mariella11

[2016-07-21 14:19] Mariella11 commented on #43
ενδεχομένως να ήταν η σύνδεση.
Σε κάθε περίπτωση το κοιτάμε και επανέρχομαι

[2016-07-21 14:52] Mariella11 commented on #43
μόλις στείλαμε πάλι.
εμείς το τεστάραμε ξανά δεν εντοπίσαμε πρόβλημα
αναμενω νεα

[2016-07-22 07:27] vgogolidis commented on #43
Καλημέρα,

δυστυχώς βλέπω πως το πρόβλημα παραμένει.

Το δοκιμάσαμε και με wifi και με 3G/4G αλλά η εφαρμογή βγάζει μήνυμα λάθους. Και στις 2 περιπτώσεις υπήρχε σύνδεση καθώς σε ιστοσελίδες κλπ έμπαινε κανονικά.

![image1](https://cloud.githubusercontent.com/assets/19796926/17049548/94d25be6-4ff6-11e6-8117-096a55ba7758.PNG)

[2016-07-22 08:29] dkosmidis commented on #32
αναφορικά με τις τιμές "από" "έως" στα γεωχωρικά, θα θέλαμε να μας ενημερώσετε αν δημιουργείται θέμα στην εφαρμογή Citizen Wallet:
1. από την πιθανή τιμή "0" στα πεδία "από", "έως"
2. από το εάν η τιμή είναι κοινή σε αυτά τα πεδία, π.χ., "1" - "1"
3. από το εάν η τιμή των πεδίων περιγράφεται ανάστροφα, π.χ.. από "98" - έως "82"

Αυτό πρόκειται να αποτελέσει επόμενο σενάριο δοκιμών στο πεδίο.

Ευχα

[2016-07-22 08:43] Mariella11 commented on #43
ωραία! φαίνεται ότι δεν έχει σβήσει το παλιό app

[2016-07-22 09:40] Mariella11 commented on #32
Καλημέρα,
όχι δεν έχουμε πρόβλημα.

[2016-07-22 09:41] dkosmidis commented on #32
Μαριέλλα. σε καμία από τις 3 περιπτώσεις, έτσι;

[2016-07-22 09:42] Mariella11 commented on #32
ναι σε καμια

[2016-07-22 09:46] #32 closed, assigned to ppetrogian, dkosmidis, Mariella11

[2016-07-22 09:49] vgogolidis commented on #43
Θα το δοκιμάσουμε και θα σας ενημερώσω.

Παρακαλώ στείλτε εμαιλ για δοκιμή και στα μαιλ vaggogol@gmail.com και mary.kampouraki@gmail.com

[2016-07-22 09:55] Mariella11 commented on #43
έστειλα! σβήστε τα παλιά builds

[2016-07-22 11:55] vgogolidis commented on #43
Καλησπέρα, δυστυχώς φαίνεται πως δεν μπορεί να γίνει registration σε νεό χρήστη μέσα από το iPhone. Δεν γνωρίζω αν το έχετε δοκιμάσει από κανονικό iPhone ή από emulator, προσωπικά το δοκίμασα από 2 συσκευές iPhone 6S και στις 2 περιπτώσεις απέτυχα. Το απόγευμα θα δοκιμαστεί και από iPad Mini.

Γενικότερα όλες αυτές τις μέρες, έχουμε σπαταλήσει πολύτιμο χρόνο στο να δοκιμάζουμε την εφαρμογή και να

[2016-07-22 12:06] vgogolidis opened #46 "Παρκάρισμα με iPhone 6S - Crash/Not Responding"
Χρησιμοποίησα τα στοιχεία που είχα περάσει από το android μου και έκανα επιτυχώς login. Πήγα να πραγματοποιήσω παρκάρισμα και δεν τα κατάφερα. Είμαι στη Λιοσίων 22. Δοκίμασα το παρκάρισμα 4 φορές.

Την 1η και τη 2η η εφαρμογή με πέταξε έξω (crash / not responding).

Την 3η, μετά από επανεκκίνιση της εφαρμογής, λειτούργησε σωστά και μου εμφάνισε πως δεν υπάρχει χώρος στάθμευσης σε αυτό το σημείο.

[2016-07-22 14:07] dkosmidis opened #47 "Android installation"
Γιατί χρειάζεται να υπάρχει έλεγχος του Bluetooth της συσκευής από την εφαρμογή Citizen Wallet.
Κάτι τέτοιο φαίνεται ότι ζητείται κατά την εγκατάσταση.

[2016-07-22 14:26] Mariella11 commented on #43
Πραγματικά δεν καταλαβαίνω τον εκνευρισμό σας....
Δεν είχατε διαγράψει την προηγούμενη έκδοση και δεν μπορέσατε να κατεβάσετε την εφαρμογή όπως εξήγησα!
Τα περισσότερα που αναφέρατε ως bugs ήταν πράγματα που είτε δεν καταλαβαίνατε πως λειτουργούν είτε είχατε απορίες πάνω σε αυτά.
ότι bugs βρήκατε το διορθώναμε επιτόπου όπως και με το σημερινό (regitration -το φτιάξαμε)
Αν θεωρείται ότι σπαταλάτε π

[2016-07-22 14:27] Mariella11 commented on #43
1η Παρατήρηση: Γιατί στην αρχική οθόνη για το τελευταίο build που μου στείλατε γράφει version 1.0.1? Μήπως θέλει αλλαγή τογ γραφικό;
- οχι δεν θέλει αλλαγή, σωστό είναι!

[2016-07-22 14:31] Mariella11 commented on #47
υποστηρίζουμε beacons

[2016-07-22 17:48] dkosmidis commented on #47
Ποιοι τα υποστηρίζετε;
Πως σχετίζονται με την λειτουργία του Citizen Wallet, ώστε να απαντήσουμε τις σχετικές ερωτήσεις;

[2016-07-23 06:12] vgogolidis commented on #43
Καλημέρα,
αρχικά θα ήθελα να σας πω, πως αν αντιλαμβάνεστε κάπου από τα παραπάνω εκνευρισμό, μάλλον δεν αντιλαμβάνεστε ορθά την πρόθεση των μελών της ΔΑΕΜ που συμμετέχουν σε αυτή τη φάση στο testing και επιθυμούν θερμά την επιτυχία και υιοθέτηση της εφαρμογής από το σύνολο των πολιτών της Αθήνας. Για το λόγο αυτό θεωρούμε πως προβλήματα πολύ βασικής χρηστικότητας, όπως τα παραπάνω με το registrati

[2016-07-23 06:19] vgogolidis opened #48 "Pin εκτός ορίου μέτρων - iPad Mini"
Προσπαθώντας να παρκάρω στην περιοχή παρατήρησα ότι μπορώ να μεταφέρω το pin εκτός του ορίου. Συγκεκριμένα βρίσκομαι στην Αλεξάνδρας / Αρειο Πάγο και έχω φτάσει μέχρι Κολωνάκι ή Πεδίο του Άρεως και δε με "τράβηξε" πίσω η εφαρμογή (δείτε πχ 2η εικόνα που φαίνεται ο κύκλος στα δεξιά και που έχω φτάσει με το pin στο zoom out που έκανα ).
![img_3232](https://cloud.githubusercontent.com/assets/19796926

[2016-07-23 06:25] vgogolidis opened #49 "Login σε συσκευές"
Προσπάθησα από συσκευή iOS να μπω με λογαριασμό που ενεργοποίησα σε Android και απέτυχε. Επίσης το ίδιο ακριβώς έκανε και το αντίστροφο, δηλαδή από Android με λογαριασμό που δημιουργήθηκε σε iOS. Χθες, αντίστοιχο θέμα σε δοκιμή από iOS με λογαριασμό που ενεργοποιήθηκε από Android δεν υπήρχε.

Υπάρχει κάποιο πρόβλημα σχετικά με αυτό; Χρησιμοποιείτε κάποια διαφορετική βάση δεδομένων για τους χρήστες

[2016-07-23 06:29] vgogolidis opened #50 "Αδυναμία αγοράς - iPad Mini"
Τέλος, δε κατάφερα να αγοράσω με πιστωτική και με χρεωστική κάρτα για το λογαριασμό μου (v.gogolidis@daem.gr).

Η χρεωστική έχει εμφανιστεί και σε άλλο λογαριασμό (δε ξέρω αν επηρεάζει κάπου την αγορά απλά το αναφέρω για ενημέρωσή σας), ενώ η πιστωτική εμφανίζεται 1η φορά στο σύστημα.

Και οι 2 αγορές απέτυχαν. Ta screenshots που ακολουθούν είναι από τη χρεωστική.

![img_3235](https://cloud.github

[2016-07-23 06:32] vgogolidis commented on #33
Το ξανανοίγω για να σας υπενθυμίσω το θέμα με το 2ο ενικό. Ακολουθούν και σχετικά screenshots από την iOS (επίλεξε, στείλε, μαζί σου κλπ). Πρέπει να γίνουν όλα 2ο πληθυντικό.

![img_3230](https://cloud.githubusercontent.com/assets/19796926/17076294/2bd909ba-50b8-11e6-8e64-830690673764.PNG)
![img_3231](https://cloud.githubusercontent.com/assets/19796926/17076295/2bdd21e4-50b8-11e6-8329-afaa9598a549

[2016-07-25 06:29] dkosmidis commented on #38
Καλημέρα,

δεν έχουμε λάβει ακόμα το νέο build (1.0.3)? που διορθώνει το θέμα, ώστε να το ανεβάσουμε στο google play.

[2016-07-25 07:30] Mariella11 commented on #43
δεν είναι πρόβλημα της εφαρμογής
προσέξτε οι αριθμοί να είναι ευδιάκριτοι

[2016-07-25 08:14] Mariella11 commented on #47
το SDK μας!  αυτό δεν σημαίνει ότι θα χρειαστεί να χρησιμοποιηθεί.
Τα beacons ουσιαστικά μπορούν μέσω bluetooth να κάνουν triger ένα μήνυμα και να το λάβει ο χρήστης.

[2016-07-25 08:29] Mariella11 commented on #33
θα τα δείτε στο νεο build εχουν γίνει οι αλλαγές

[2016-07-25 08:34] Mariella11 commented on #38
σας το εχω στείλει
το προωθώ ξανά

[2016-07-25 08:51] dkosmidis commented on #47
Παρακαλώ πολύ, να απενεργοποιήσετε άμεσα λειτουργικότητα η οποία δεν χρησιμοποιείται από την εφαρμογή. Δημιουργείται πρόβλημα εμπιστοσύνης με τον χρήστη σε αυτό το στάδιο και στο κομμάτι επικοινωνίας / υποστήριξης.
Ενημερώστε μας πότε έχετε προβεί στην υλοποίηση.

[2016-07-25 09:07] Mariella11 commented on #48
διορθώθηκε

[2016-07-25 09:30] Mariella11 commented on #47
κύριε Κοσμίδη αυτό δεν είναι bug!!!

[2016-07-25 09:31] Mariella11 commented on #47
είναι έξτρα δουλειά να το αφαιρέσουμε.
Βοηθήστε μας να καταλάβουμε για ποιο λόγο ζητάτε να αφαιρεθεί

[2016-07-25 09:35] dkosmidis commented on #47
Σας το εξήγησα αναλυτικά παραπάνω.

[2016-07-25 09:38] Mariella11 commented on #39
αν δεν χρειάζεστε κάτι αλλο κύριε κοσμίδη μπορούμε να το κλείσουμε?
Έχω μιλήσει με την κυρία Βιντζιλαίου και δεν χρειάζεται κάτι επιπλέον

[2016-07-25 09:42] #39 closed, assigned to Mariella11

[2016-07-25 09:55] Mariella11 commented on #47
καλως θα αφαιρεθεί

[2016-07-25 10:06] dkosmidis commented on #47
... με την ενημέρωσή σας κλείνει το θέμα.

[2016-07-25 10:12] vgogolidis commented on #43
"Επί του bug τώρα, διορθώθηκε στον ένα από τους δυο τρόπους εγγραφής. Η εγγραφή από την 1η οθόνη έγινε επιτυχώς, αντίθετα η εγγραφή **από την manual φόρμα από το περιβάλλον σκαναρίσματος** της κάρτας αποτυγχάνει / φορτώνει συνέχεια (σε iPad Mini)."

Αναφέρομαι σε αποτυχία εγγραφής από την manual φόρμα όταν πατήσεις "Enter Manually", όχι από το σκανάρισμα της κάρτας.

[2016-07-25 11:39] Mariella11 commented on #47
μόλις αφαιρέθηκε

[2016-07-25 13:35] Mariella11 commented on #50
θα ήθελα να μου επιβεβαιώσετε ότι η συγκεκριμένη κάρτα είχε διαθέσιμο το ποσό που επιλέξατε.
την συγκεκριμένη συναλλαγή την δέχτηκε η εφαρμογή και μας την απέρριψε η τράπεζα.
Παρατηρήσαμε από δικά μας τεστ ότι το ίδιο ακριβώς error μας το εμφάνιζε όταν η κάρτα δεν είχε χρήματα μέσα.

[2016-07-25 13:41] Mariella11 commented on #43
οκ διορθώθηκε και αυτό

[2016-07-25 13:45] Mariella11 commented on #49
όχι δεν θα έπρεπε να συμβαίνει
διορθώθηκε

[2016-07-25 13:47] vgogolidis commented on #50
Υπήρχαν χρήματα μέσα,, το ποσό που είχα ζητήσει ήταν 1 ευρώ.

[2016-07-25 14:29] Mariella11 commented on #46
το ελέγξαμε και δεν εντοπίσαμε πρόβλημα
ήταν θέμα σύνδεσης/ συσκευής

[2016-07-26 05:58] vgogolidis commented on #50
Στη νέα έκδοση που δοκίμασα σήμερα η αγορά 0.50 ευρώ με την ίδια κάρτα πραγματοποιήθηκε. Μήπως είχε κάποιο θέμα η έκδοση της εφαρμογής;

[2016-07-26 05:59] vgogolidis commented on #49
Το δοκίμασα στην έκδοση 13 και λειτούργησε κανονικά.

[2016-07-26 05:59] #49 closed, assigned to nobody

[2016-07-26 06:04] vgogolidis commented on #48
Νομίζω πως όχι. Βλέπω επιπλέον θέμα. Ενώ πλέον δε μπορώ να παρκάρω έξω από το κύκλο και πετάει μήνυμα(μπορώ να βγάλω το κέρσορα αλλά όχι να παρκάρω), δε μου βρίσκει τη διευθυνση που βρίσκομαι. Δε το εμφανίζει ούτε στο χάρτη, ούτε στο μήνυμα πριν παρκάρω. Όμως είναι εμφανές πως το δουλεύει η εύρεση τοποθεσίας γιατί ο κύκλός εμφανίζεται εκεί που βρίσκομαι.
![img_3239](https://cloud.githubusercontent

[2016-07-26 06:05] vgogolidis commented on #46
Στην τελευταία έκδοση δεν πέταξε crash στο αντίστοιχο βήμα. Το κλείνω και αν ξαναπαρουσιαστεί θέμα θα το ξαναδούμε.

[2016-07-26 06:05] #46 closed, assigned to nobody

[2016-07-26 06:38] Mariella11 commented on #50
ενημέρωσα την τράπεζα για το πρόβλημα. Εμείς δεν αλλάξαμε κάτι στη λειτουργία

[2016-07-26 06:44] Mariella11 commented on #40
Θα τα δούμε όλα αυτά επί διαχειριστικού σε δεύτερη φάση.

[2016-07-26 06:45] Mariella11 commented on #33
μπορέσατε να εντοπίσετε τις αλλαγές?
να το κλείσουμε?

[2016-07-26 15:17] Mariella11 commented on #48
Αυτό που συμβαίνει είναι ότι **αργεί** να βρει το current location,
 είναι λόγω συσκευής και ότι συνδέεστε με wifi
μετά από λίγο επιστρέφει εντός κύκλου, δεν τον αφήνει να σταθμεύσει

[2016-07-27 07:53] #50 closed, assigned to nobody

[2016-07-27 08:02] vgogolidis commented on #48
Καλημέρα,
Το πρόβλημα εδώ παραμένει και δεν είναι μόνο το θέμα με το εντός / εκτός κύκλου.

Το βασικό θέμα εδώ, είναι πως είμαι εντός του κύκλου και μετά από περίπου 10-15 δευτερόλεπτα στη συγκεκριμένη σελίδα δεν βρέθηκε η περιοχή που βρίσκομαι (ενώ έχει βρει πολύ σωστά το κύκλο). Επίσης το συγκεκριμένο wifi, είναι vsdl του ΟΤΕ, επομένως δεν καταλαβαίνω τι εννοείται με το "λόγω συσκευής και wifi".

[2016-07-27 08:28] Mariella11 commented on #48
Καλημέρα,
Όχι δεν έχει να κάνει μόνο με το vsdl.
Δεν είναι τόσο επιφανειακό το θέμα με τα Location Services ώστε να βασίζεται μόνο στο αν υπάρχει “γρήγορη” σύνδεση σε wifi. Το παρακάτω άρθρο είναι της apple. Στο κεφάλαιο "About location precision or accuracy” θα διαβάσετε αυτά που σας ανέφερα σε προηγούμενο σχόλιο.
 https://support.apple.com/en-us/HT203033

Όπως και να έχει δεν είναι **bug** δικό

[2016-07-27 10:42] Mariella11 commented on #48
επανήλθα!
Αυτό που κάναμε έιναι με το που βγαίνει από τον κύκλο να πηγαίνει to pin κατευθείαν στο τελευταίο current location που είχε εντοπίσει η συσκευή. Ταυτόχρονα το backround ψάχνουμε για την νέα ακριβή τοποθεσία του χρήστη και μόλις εντοπιστεί θα ανανεωθεί το pin.

[2016-07-27 10:53] dkosmidis commented on #47
Pαρακαλώ επιβεβαιώστε ότι η σχετική λειτουργικότητα έχει απενεργοποιηθεί τόσο από android, όσο και από iOS

![cw_bluetooth](https://cloud.githubusercontent.com/assets/8148716/17173092/5ee0deb8-5401-11e6-8b55-38808ff13e5d.png)

[2016-07-27 10:59] Mariella11 commented on #47
ναι το beacon έχει αφαιρεθεί σαν λειτουργικότητα απλά το permission το χρειαζόμαστε για ένα custom id που δημιουργούμε στο device (χρησιμοποιώντας την mac address του bluetooth)

[2016-07-27 11:00] #33 closed, assigned to vgogolidis, Mariella11, mvitzilaiou, mabdelrahim1

[2016-07-27 11:19] #47 closed, assigned to Mariella11

[2016-07-28 08:41] dkosmidis opened #51 "Regression testing -version 6 (1.0.2) -date 26/07/2016 -APPLICATION STALL"
**Το σενάριο:** Να εντοπίσει ζώνες ελεγχόμενης με προβλήματα, ώστε να επαναλάβει τα tests με τις ενημερωμένες λίστες την παρασκευή 29/7.
1. Έγινε κανονικά αγορά χρόνου στάθμευσης (2 φορές) και ελήφθησαν τα σχετικά μηνύματα. Ο.Κ.
2. "Σίνα 4-6", εκτός ελεγχόμενης Ο.Κ.
3. "Πανεπιστημίου - Ελευθερίου Βενιζέλου 26", εκτός ελεγχόμενης Ο.Κ.
4. "Ομήρου 12, Ομήρου 14-18", εκτός ελεγχόμενης Ο.Κ.
5. "Ακαδημί

[2016-07-28 08:55] dkosmidis opened #52 "Regression testing -version 7 (1.0.3) -date 28/07/2016 -APPLICATION STALL"
Το σενάριο: Να εντοπίσει ζώνες ελεγχόμενης με προβλήματα. Επανάληψη του σεναρίου της 26/07/2016, με την νέα έκδοση του λογισμικού για Android.
Σημείωση: Η συσκευή που χρησιμοποιείται, έχει την τελευταία εργοστασιακή έκδοση 4.4.2

Δεν έγινε αγορά νέου χρόνου στάθμευσης
1. "Βουκουρεστίου 2", εκτός ελεγχόμενης **ΝΟΤ Ο.Κ.**
2. Διορθωμένο μήνυμα από την προηγούμενη έκδοση "Επιλέξτε πόσα λεπτά που θα χρ

[2016-07-28 14:05] Mariella11 commented on #52
Συνοψίζω τα παραπάνω και καταγράφω τα δικά μας cases...
1. λεκτικό- διορθώθηκε
2. να κάνουμε έλεγχο στα κρασαρίσματα - το κοιτάμε
3. επιπλέον 10 λεπτά χρόνου- το κοιτάμε
4. στο τελευταίο δεν έλαβες push - το κοιτάμε

[2016-07-28 14:09] Mariella11 commented on #51
τα είδαμε όλα, ευχαριστώ που τα κατ έγραψες για βοήθεια!
είναι το παλιό version, όπως είπαμε θα δούμε και με την ΝΕΣΣΟΣ τα παραπάνω
οπότε ας το κλείσουμε

[2016-07-29 19:02] #51 closed, assigned to Mariella11

[2016-08-03 08:55] dkosmidis opened #53 "Regression testing cont. -version 7 (1.0.3) -date 03/08/2016 ΑΝΑΝΕΩΣΗ ΧΡΟΝΟΥ ΣΤΑΘΜΕΥΣΗΣ-APPLICATION STALL"
Το σενάριο: (α.) Να εντοπίσει ζώνες ελεγχόμενης με προβλήματα, (β.) Να δοκιμάσει την συμπεριφορά της εφαρμογής (Android). Συνέχεια του σεναρίου της 28/07/2016, 52662  ΜΙΧΑΛΑΚΟΠΟΥΛΟΥ 51
Σημείωση: Η συσκευή που χρησιμοποιείται, LENOVO A536, έχει την τελευταία εργοστασιακή έκδοση Android 4.4.2
1. Έλεγχος του χρονικού ορίου για έναρξη "Ελεγχόμενης Στάθμευσης" πριν 09:00 Ο.Κ.
2. Σημείο στάθμευσης εκτός

[2016-08-03 10:17] Mariella11 commented on #53
ανοίγω λογαριασμό στο Asana και συνεχίζουμε εκεί παρακαλώ

[2016-08-03 12:10] dkosmidis commented on #53
... όχι ακόμα παρακαλώ. Προσανατολιζόμαστε στο να ενεργοποιήσουμε private repositories για το Issue Tracking του έργου, προκειμένου να ανταποκριθούμε στις προδιαγραφές που θέσατε όσον αφορά τα privacy concerns.

[2016-08-03 14:25] Mariella11 commented on #53
Εμείς χρησιμοποιούμε το ASANA σε όλους τους πελάτες μας και θα θέλαμε να συνεχίσουμε και με εσάς εκεί.

[2016-08-04 06:42] dkosmidis commented on #53
... το ακούμε, δεν έχουμε αποκλείσει το ASANA, το χρησιμοποιούμε κι εμείς, όχι βέβαια για software issue tracking αλλά για team collaboration. Ας το συζητήσουμε συνολικά, εξετάζοντας και τα πλεονεκτήματα κάθε πρότασης. Ούτως ή άλλως είναι δεδομένη η δουλειά που πρέπει να γίνεται, θα βρούμε και τον δόκιμο τρόπο. Παρακαλώ να προχωρήσουμε εν τω μεταξύ με την επίλυση των προβλημάτων που έχουν εμφανιστ

[2016-08-05 09:23] Mariella11 commented on #53
προχωράμε! σημερα θα έχετε νεο build.
Μέχρι να γίνει απόρρητο παρακαλώ ότι θέλετε προσθέστε τα στο asana

[2016-08-05 09:25] dkosmidis commented on #38
... παρότι τα ποσά χρέωσης εμφανίζονται στη νέα έκδοση, το format δεν ακολουθεί το προτεινόμενο layout (0,00€) και εμφανίζεται πάλι ως (€0.00). Επίσης, νομίζουμε ότι είναι υπερβολή να εμφανίζονται με σήμανση (-), καθώς δεν εμφανίζουμε κάποιο accounting statement.

![screenshot_2016-07-27-13-59-14](https://cloud.githubusercontent.com/assets/8148716/17432276/16701a60-5b07-11e6-9eb6-e4690e87a23c.png)

[2016-08-05 10:22] dkosmidis opened #54 "Αδυναμία αποστολής μηνύματος (επιλογή: Επικοινωνία)"
1. Έχει προηγηθεί μήνυμα για αδυναμία Ενεργοποίησης Στάθμευσης, καθώς η προσπάθεια έγινε σε σημείο που δεν αφορά σε ζώνη ενεργούς Ελεγχόμενης Στάθμευσης, Ο.Κ.
2. Ο χρήστης της εφαρμογής έχει διαβάσει και έχει κλείσει το σχετικό pop-up message ενημέρωσης, Ο.Κ.
3. Ο χρήστης προσπαθεί να στείλει μήνυμα για βοήθεια και όταν πατά  "Αποστολή", Ο.Κ.
4. Αντί η εντολή να εκτελείται αποστέλλοντας το σχετικό

[2016-08-05 13:36] Mariella11 commented on #53
διορθώθηκαν ολα εκτός από 8,13,18 που τα τεστάρουμε
οπότε ας κλείσει παρακαλω

[2016-08-05 13:41] Mariella11 commented on #52
όπως απάντησα και στο regression testing cont ver 7 αυτά που έχουν μείνει τα τεστάρουμε
οπότε παρακαλώ να κλείσει

[2016-08-05 13:42] Mariella11 commented on #48
είστε οκ με αυτό? αν ναι να κλείσει παρακαλω

[2016-08-05 13:43] Mariella11 commented on #40
θα το δούμε από Σεπτέμβρη οπότε παρακαλώ να κλείσει και να ανοίξει τέλη αυγ

[2016-08-05 13:45] Mariella11 commented on #38
έγιναν οι αλλαγές, θα τις δείτε στο τελευταίο build που σας προώθησα 5/8
Παρακαλω να κλεισει

[2016-08-05 14:40] dkosmidis commented on #53
O.K., test verification... pending!

[2016-08-05 14:40] #53 closed, assigned to ppetrogian, Mariella11

[2016-08-05 14:42] dkosmidis commented on #52
O.K., test verification... pending!

[2016-08-05 14:42] #52 closed, assigned to Mariella11

[2016-08-05 14:43] dkosmidis commented on #48
O.K., test verification... pending! Vaggeli please check!

[2016-08-05 14:44] dkosmidis commented on #43
O.K., test verification... pending! Vaggeli please check!

[2016-08-05 14:45] #40 closed, assigned to Mariella11

[2016-08-05 14:45] #38 closed, assigned to Mariella11

[2016-08-29 15:09] dkosmidis opened #55 "Λανθασμένη στάθμευση / χρέωση"
Place:  DAEM premises, Liosion 22
Device: LENOVO A536, OS: Android 4.4.2
Software version: Citizen Wallet, 1.0.4.
Scenario: Parking Demo to CEO

Κατά την ενεργοποίηση της στάθμευσης, Λιοσίων 18-22 (εκτός ζώνης ελεγχόμενης) και μετακινώντας το σημείο στάθμευσης (εκτός ακτίνας)... μερικές φορές, έγινε δυνατή η ενεργοποίηση στάθμευσης, στη Λιοσίων 6-8 (εκτός ζώνης ελεγχόμενης)!
Η στάθμευση εμφανίζετα

[2016-08-31 09:06] Mariella11 commented on #54
Αντί η εντολή να εκτελείται αποστέλλοντας το σχετικό μήνυμα και ο χρήστης να ενημερώνεται σχετικά, λαμβάνει ξανά το προηγούμενο pop-up message ότι η ζώνη Ελεγχόμενης Στάθμευσης δεν μπορεί να εντοπιστεί, ΝΟΤ Ο.Κ.
- το τεστάρουμε από χτες (ίδια steps με αυτά που περιγράφεις) και σε μας έπαιξε κανονικά!
  θέλετε να το δοκιμάσετε πάλι?  ή να μου περιγράψεις πιο αναλυτικά τα βήματα ?

Τα λεκτικά και στ

[2016-08-31 09:11] Mariella11 commented on #55
μιλησαμε και στο τηλεφωνο για το παραπάνω....
Η λιοσίων που έγινε και η προσπάθεια στάθμευσης δεν ανήκει σε ζώνη ελεγχόμενης
ενώ ή Ιλισίων ανήκει.
ουσιαστικά έψαξε την διεύθυνση με το ακριβές όνομα, δεν την βρήκε και έψαξε ξανά διευθύνσεις (που είναι σε ζώνη ελεγχόμενης) με παρεμφερή ονόματα.
θα κάνουμε την απαραίτητη παραμετροποίηση σε αυτήν την περίπτωση και σε ενημερώνω

[2016-08-31 10:10] dkosmidis commented on #54
Το κλείνω, απλά το κρατάμε σας αναφορά για πιθανό μελλοντικό σύμπτωμα.

[2016-08-31 10:10] #54 closed, assigned to Mariella11

[2016-08-31 16:35] dkosmidis commented on #55
Πρόταση / σκέψη υλοποίησης, καθώς συνεχίζουν να προκύπτουν θέματα με τα χαρακτηριστικά του GPS αλλά και την ενσωμάτωση της λειτουργικότητάς του, από την εφαρμογή (business logic). Θα επανέλθω με νέο / νέα (bugs) σύντομα.

Η εφαρμογή δεν θα πρέπει να αναζητά γενικά διευθύνσεις και ονόματα εκτός ενός λογικού ορίου που καθορίζεται από την ακτίνα στάθμευσης του οχήματος (π.χ. 40 μ.). Αν αυτό δεν εξυπα

[2016-08-31 16:45] dkosmidis opened #56 "Γεωχωρικά 31/08/2016 (Geogata)"
Αν αυτή είναι η εικόνα των δεδομένων που λαμβάνονται και χρησιμοποιούνται από τη warp.ly, μέσω του web service της NESSOS, αντιλαμβάνομαι ότι έχουμε ακυρώσει πολλές ώρες συστηματικής εργασίας και προσπάθειας.
Σας παρακαλώ να το επιβεβαιώσετε.

[Nessos geodata (31.8).xlsx](https://github.com/DAEM-IT/CITIZEN-WALLET/files/447840/Nessos.geodata.31.8.xlsx)

[2016-08-31 17:10] dkosmidis opened #57 "Ενεργοποίηση σε ζώνη ελεγχόμενης στάθμευσης (τυχαίος - αυθαίρετος προσδιορισμός?), μετά την απενεργοποίηση του GPS της συσκευής"
N/A yet.

[2016-09-01 07:37] Mariella11 commented on #55
Αυτό δεν είναι δυνατό! Δεν υπάρχει η πληροφορία για την τοποθεσία κάθε οδού στις δικές σας λίστες ώστε να ξέρει ο server αν είναι κοντά ή μακριά.

[2016-09-01 07:39] Mariella11 commented on #57
παρακαλώ περιγράψτε μου το πρόβλημα. αδυνατώ να καταλάβω τι εννοείτε

[2016-10-10 08:31] #55 closed, assigned to Mariella11

[2016-10-10 08:32] #57 closed, assigned to Mariella11

[2016-10-10 09:16] #43 closed, assigned to Mariella11

[2016-10-10 09:16] #48 closed, assigned to nobody